.warning {
    background-color: red !important;
}

.greenIcon{
    color: green;
} 

.redIcon{
    color: red;
} 

.padding{
    padding: 5px;
}

@media (min-width: 1501px) {
  .characterName{
    position: absolute;
    top: 70px;
    left: 5%;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px black;

}
}

@media (max-width: 1500px) {
  .characterName{
    position: absolute;
    top: 70px;
    left: 5%;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;

}
}

@media (max-width: 849px) {
  .characterName{
    position: absolute;
    top: 70px;
    left: 5%;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;

}
}

@media (max-width: 700px) {
  .characterName{
    position: absolute;
    top: 60px;
    left: 5%;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;

}
}

@media (max-width: 520px) {
  .characterName{
    position: absolute;
    top: 60px;
    left: 5%;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px black;

}
}

