script#bossStrategy(type="text/ng-template")
    div.jumbotron.wodHeader
    div.well.stratVideos
        div.container
            div.row()
                ins(class="adsbygoogle",
                     style="display:block",
                     data-ad-client="ca-pub-4895481554192451",
                     data-ad-slot="4790584276",
                     data-ad-format="auto")
        div.container.text-center
            h1
                | Boss Information
            div.row().text-center
                div.col-md-12
                    tabset(class="tab-animation")
                        tab(ng-click = "resetDisqus(HellfireThreadName)", heading = "Hellfire Citadel")
                            div(class="item animated bounceInRight").row
                                div(collapse="hfcBossSelected", ng-repeat = "boss in bossInfo.hellfire").col-md-3
                                    div(ng-click="changeHFCBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                            div(class="slide-animation").row
                                div.container
                                    div(ng-repeat = "boss in bossInfo.hellfire")
                                        div(collapse="!boss.isSelected").padding
                                            div.pull-right
                                                button(ng-click="cancelHFCBossSelection(boss)").btn.btn-danger
                                                    span.glyphicon.glyphicon-remove
                                            br
                                            h3
                                                {{boss.name}} {{difficultySelected}}
                                            button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Heroic
                                            button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Mythic
                                        div(collapse="!boss.heroic.isSelected")
                                            div(ng-repeat = "video in boss.heroic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                            span(ng-click = "addVideo(boss.name, 'heroic', 'hellfire');addNewBoss = !addNewBoss").list-group-item.list-group-item-success.padding
                                                | Add Video
                                            div(collapse="!addNewBoss").padding-top.text-center
                                                div.container.text-center
                                                    div.form-horizontal.text-center
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Video Name: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "name").form-control

                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Youtube URL: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "url").form-control
                                                        div.col-sm-7
                                                            button(ng-click = "saveNewBossInfo(name, url)").btn.btn-primary.form-control
                                                                | Add Video
                                        div(collapse="!boss.mythic.isSelected")
                                            div(ng-repeat = "video in boss.mythic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                            span(ng-click = "addVideo(boss.name, 'mythic', 'hellfire');addNewBoss = !addNewBoss").list-group-item.list-group-item-success
                                                | Add Video
                                            div(collapse="!addNewBoss").padding-top
                                                div.container-fluid
                                                    div.form-horizontal
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Video Name: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "name").form-control

                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Youtube URL: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "url").form-control
                                                        div.col-sm-7
                                                            button(ng-click = "saveNewBossInfo(name, url)").btn.btn-primary.form-control
                                                                | Add Video
                        tab(ng-click = "resetDisqus(HighmaulThreadName)", heading = "Highmaul")
                            div(class="item animated bounceInRight").row
                                div(collapse="highmaulBossSelected", ng-repeat = "boss in bossInfo.highmaul").col-md-3
                                    div(ng-click="changeHMBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                            div(class="slide-animation").row
                                div.container
                                    div(ng-repeat = "boss in bossInfo.highmaul")
                                        div(collapse="!boss.isSelected").padding
                                            div.pull-right
                                                button(ng-click="cancelHMBossSelection(boss)").btn.btn-danger
                                                    span.glyphicon.glyphicon-remove
                                            br
                                            h3
                                                {{boss.name}} {{difficultySelected}}
                                            button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Heroic
                                            button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Mythic
                                        div(collapse="!boss.heroic.isSelected")
                                            div(ng-repeat = "video in boss.heroic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                            span(ng-click = "addVideo(boss.name, 'heroic', 'highmaul');addNewBoss = !addNewBoss").list-group-item.list-group-item-success.padding
                                                | Add Video
                                            div(collapse="!addNewBoss").padding-top.text-center
                                                div.container.text-center
                                                    div.form-horizontal.text-center
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Video Name: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "name").form-control

                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Youtube URL: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "url").form-control
                                                        div.col-sm-7
                                                            button(ng-click = "saveNewBossInfo(name, url)").btn.btn-primary.form-control
                                                                | Add Video
                                        div(collapse="!boss.mythic.isSelected")
                                            div(ng-repeat = "video in boss.mythic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                            span(ng-click = "addVideo(boss.name, 'mythic', 'highmaul');addNewBoss = !addNewBoss").list-group-item.list-group-item-success
                                                | Add Video
                                            div(collapse="!addNewBoss").padding-top
                                                div.container-fluid
                                                    div.form-horizontal
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Video Name: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "name").form-control

                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Youtube URL: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "url").form-control
                                                        div.col-sm-7
                                                            button(ng-click = "saveNewBossInfo(name, url)").btn.btn-primary.form-control
                                                                | Add Video
                        tab(ng-click = "resetDisqus(BlackrockThreadName)", heading = "Blackrock Foundry")
                            div.row
                                div(collapse="brfBossSelected", ng-repeat = "boss in bossInfo.brf").col-md-3
                                    div(ng-click="changeBRFBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                            div.row
                                div.container
                                    div(ng-repeat = "boss in bossInfo.brf")
                                        div(collapse="!boss.isSelected").padding
                                            div.pull-right
                                                button(ng-click="cancelBRFBossSelection(boss)").btn.btn-danger
                                                    span.glyphicon.glyphicon-remove
                                            br
                                            h3
                                                {{boss.name}} {{difficultySelected}}
                                            button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Heroic
                                            button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Mythic
                                        div(collapse="!boss.heroic.isSelected")
                                            div(ng-repeat = "video in boss.heroic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                            span(ng-click = "addVideo(boss.name, 'heroic', 'brf');addNewBoss = !addNewBoss").list-group-item.list-group-item-success
                                                | Add Video
                                            div(collapse="!addNewBoss").padding-top
                                                div.container-fluid
                                                    div.form-horizontal
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Video Name: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "name").form-control
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Youtube URL: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "url").form-control
                                                        div.col-sm-7
                                                            button(ng-click = "saveNewBossInfo(name, url)").btn.btn-primary.form-control
                                                                | Add Video

                                        div(collapse="!boss.mythic.isSelected")
                                            div(ng-repeat = "video in boss.mythic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}

                                            span(ng-click = "addVideo(boss.name, 'mythic', 'brf');addNewBoss = !addNewBoss").list-group-item.list-group-item-success
                                                | Add Video
                                            div(collapse="!addNewBoss").padding-top
                                                div
                                                    div.form-horizontal
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Video Name: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "name").form-control
                                                        div.form-group
                                                            label.col-sm-2.control-label
                                                                | Youtube URL: &nbsp
                                                            div.col-sm-5
                                                                input(ng-model = "url").form-control
                                                        div.col-sm-7
                                                            button(ng-click = "saveNewBossInfo(name, url)").btn.btn-primary.form-control
                                                                | Add Video