script#bossStrategy(type="text/ng-template")
    div.jumbotron.wodHeader
    div.well.stratVideos
        div.container
            div.row()
                ins(class="adsbygoogle",
                     style="display:block",
                     data-ad-client="ca-pub-4895481554192451",
                     data-ad-slot="4790584276",
                     data-ad-format="auto")
        div.container.text-center
            h1
                | Boss Information
            div.row().text-center
                div.col-md-12
                    tabset(class="tab-animation")
                        tab(heading = "Highmaul")
                            div.container.text-center
                                div.row
                                    div(ng-repeat = "boss in highmaulBosses").col-md-4.col-sm-4.col-lg-3
                                        h2.text-center.raidHeaders
                                            {{boss.name}}
                                        div(ng-if = "boss.img != null")
                                            img(src = "/images/wodBosses/{{boss.img}}")
                                        br
                                        a(href = "http://www.wowhead.com/npc={{boss.wowheadNPCNum}}").list-group-item.lootList
                                            | Loot
                                        span(ng-click = "open(boss.embeddedUrl)", ng-show = "boss.embeddedUrl.length > 0").list-group-item
                                            | Strat Video - Icy Veins
                                        span(ng-click = "open(boss.embeddedUrlFatboss)", ng-show = "boss.embeddedUrlFatboss.length > 0").list-group-item
                                            | Strat Video - Fatboss
                                        a(href = "{{boss.stratUrl}}").list-group-item
                                            | Detailed Strat

                        tab(heading = "Blackrock Foundry")
                            div.container.text-center
                                div.row
                                    div(ng-repeat = "boss in brfBosses").col-md-4.col-sm-4.col-lg-3
                                        h2.text-center.raidHeaders
                                            {{boss.name}}
                                        div(ng-show = "boss.img != null")
                                            img(src = "/images/wodBosses/{{boss.img}}")
                                        br
                                        a(href = "http://www.wowhead.com/npc={{boss.wowheadNPCNum}}").list-group-item.lootList
                                            | Loot
                                        span(ng-click = "open(boss.embeddedUrl)", ng-show = "boss.embeddedUrl.length > 0").list-group-item
                                            | Strat Video - Icy Veins
                                        span(ng-click = "open(boss.embeddedUrlFatboss)", ng-show = "boss.embeddedUrlFatboss.length > 0").list-group-item
                                            | Strat Video - Fatboss
                                        span(ng-click = "open(boss.embeddedUrlLOSgaming)", ng-show = "boss.embeddedUrlLOSgaming.length > 0").list-group-item
                                            | Strat Video - Line of Sight Gaming
                                        a(href = "{{boss.stratUrl}}").list-group-item
                                            | Detailed Strat
                    div(id="disqus_thread")
