script#bossStrategy(type="text/ng-template")
    div.jumbotron.wodHeader
    div.well.stratVideos
        div.container
            div.row()
                ins(class="adsbygoogle",
                     style="display:block",
                     data-ad-client="ca-pub-4895481554192451",
                     data-ad-slot="4790584276",
                     data-ad-format="auto")
        div.container.text-center
            h1
                | Boss Information

            div.row
                input(ng-model = "name").form-control
                input(ng-model = "url").form-control
                button(ng-click = "saveNewBossInfo()").btn.btn-primary
                    | Add Video
            div.row().text-center
                div.col-md-12
                    tabset(class="tab-animation")
                        tab(ng-click = "resetDisqus(HighmaulThreadName)", heading = "Highmaul")
                            div(class="item animated bounceInRight").row
                                div(collapse="highmaulBossSelected", ng-repeat = "boss in bossInfo.highmaul").col-md-3
                                    div(ng-click="changeHMBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                            div(class="slide-animation").row
                                div.container
                                    div(ng-repeat = "boss in bossInfo.highmaul")
                                        div(collapse="!boss.isSelected")
                                            div.pull-right
                                                button(ng-click="cancelHMBossSelection(boss)").btn.btn-danger
                                                    span.glyphicon.glyphicon-remove
                                            br
                                            h3
                                                {{boss.name}} {{difficultySelected}}
                                            button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Heroic
                                            button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Mythic
                                        div(collapse="!boss.heroic.isSelected")
                                            div(ng-repeat = "video in boss.heroic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                        div(collapse="!boss.mythic.isSelected")
                                            div(ng-repeat = "video in boss.mythic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                        tab(ng-click = "resetDisqus(BlackrockThreadName)", heading = "Blackrock Foundry")
                            div.row
                                div(collapse="brfBossSelected", ng-repeat = "boss in bossInfo.brf").col-md-3
                                    div(ng-click="changeBRFBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                            div.row
                                div.container
                                    div(ng-repeat = "boss in bossInfo.brf")
                                        div(collapse="!boss.isSelected")
                                            div.pull-right
                                                button(ng-click="cancelBRFBossSelection(boss)").btn.btn-danger
                                                    span.glyphicon.glyphicon-remove
                                            br
                                            h3
                                                {{boss.name}} {{difficultySelected}}
                                            button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Heroic
                                            button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Mythic
                                        div(collapse="!boss.heroic.isSelected")
                                            div(ng-repeat = "video in boss.heroic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}

                                        div(collapse="!boss.mythic.isSelected")
                                            div(ng-repeat = "video in boss.mythic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
            br
            div(ng-if = "loadChat")
                button(ng-click="chatLoad()").btn.btn-primary
                    | Hide Discussion
            div(ng-if = "loadChat", id="disqus_thread")

            div(ng-if = "!loadChat")
                button(ng-click="chatLoad()").btn.btn-primary
                    | Discuss?

