script#bossStrategy(type="text/ng-template")    
    div.container.pageContainer        
        div.jumbotron.wodHeader
        div.container-fluid
        div.row()
            ins(class="adsbygoogle",
                 style="display:block",
                 data-ad-client="ca-pub-4895481554192451",
                 data-ad-slot="4790584276",
                 data-ad-format="auto")
        div.row
            h3
                | Adding videos currently broken
            div.col-md-2.noPaddingOrMargin
                include stratRoomSideNav
            div.col-md-10.noPaddingOrMargin
                include selectedBoss