script#bossStrategy(type="text/ng-template")
    div.jumbotron.wodHeader
    div.well.stratVideos
        div.container
            div.row()
                ins(class="adsbygoogle",
                     style="display:block",
                     data-ad-client="ca-pub-4895481554192451",
                     data-ad-slot="4790584276",
                     data-ad-format="auto")
        div.container.text-center
            h1
                | Boss Information
            div.row().text-center
                div.col-md-12
                    tabset(class="tab-animation")
                        tab(heading = "Highmaul")
                            div.row
                                div(collapse="highmaulBossSelected", ng-repeat = "boss in bossInfo.highmaul").col-md-3
                                    div(ng-click="changeHMBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                            div.container
                                div(ng-repeat = "boss in bossInfo.highmaul")
                                    div(collapse="!boss.isSelected")
                                        div.pull-right
                                            button(ng-click="changeHMBossInfo(boss)").btn
                                                span.glyphicon.glyphicon-remove
                                        br
                                        h3
                                            {{boss.name}} {{difficultySelected}}
                                        button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                            | Heroic
                                        button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                            | Mythic
                                    div(collapse="!boss.heroic.isSelected")
                                        div(ng-if = "boss.img != null")
                                            img(src = "/images/wodBosses/{{boss.img}}")
                                        br
                                        a(href = "http://www.wowhead.com/npc={{boss.wowheadNPCNum}}").list-group-item.lootList
                                            | Loot
                                        div(ng-repeat = "video in boss.heroic.videos")
                                            span(ng-click = "open(video.url)").list-group-item
                                                {{video.name}}
                                    div(collapse="!boss.mythic.isSelected")
                                        div(ng-if = "boss.img != null")
                                            img(src = "/images/wodBosses/{{boss.img}}")
                                        br
                                        a(href = "http://www.wowhead.com/npc={{boss.wowheadNPCNum}}").list-group-item.lootList
                                            | Loot
                                        div(ng-repeat = "video in boss.mythic.videos")
                                            span(ng-click = "open(video.url)").list-group-item
                                                {{video.name}}
                        tab(heading = "Blackrock Foundry")
                            div.row
                                div(collapse="brfBossSelected", ng-repeat = "boss in bossInfo.brf").col-md-3
                                    div(ng-click="changeBRFBossInfo(boss)").btn.btn-primary.bossButton
                                        h3
                                            {{boss.name}}
                                div.container
                                    div(ng-repeat = "boss in bossInfo.brf")
                                        div(collapse="!boss.isSelected")
                                            div.pull-right
                                                button(ng-click="changeBRFBossInfo(boss)").btn
                                                    span.glyphicon.glyphicon-remove
                                            br
                                            h3
                                                {{boss.name}} {{difficultySelected}}
                                            button(ng-click = "heroicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Heroic
                                            button(ng-click = "mythicDifficultySelected(boss)").btn.btn-primary.btn-lg
                                                | Mythic
                                        div(collapse="!boss.heroic.isSelected")
                                            div(ng-if = "boss.img != null")
                                                img(src = "/images/wodBosses/{{boss.img}}")
                                            br
                                            a(href = "http://www.wowhead.com/npc={{boss.wowheadNPCNum}}").list-group-item.lootList
                                                | Loot
                                            div(ng-repeat = "video in boss.heroic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}
                                        div(collapse="!boss.mythic.isSelected")
                                            div(ng-if = "boss.img != null")
                                                img(src = "/images/wodBosses/{{boss.img}}")
                                            br
                                            a(href = "http://www.wowhead.com/npc={{boss.wowheadNPCNum}}").list-group-item.lootList
                                                | Loot
                                            div(ng-repeat = "video in boss.mythic.videos")
                                                span(ng-click = "open(video.url)").list-group-item
                                                    {{video.name}}

