script#gMaps(type="text/ng-template")
    div.container
        div.row()
            div(class = "col-md-6")
                input( id = "pac-input", class = "controls", type="text", placeholder = "Enter a location")

                div(id = "map-canvas")

