script#mkdirHome(type="text/ng-template")

    div.jumbotron
        div.container
            h1
                | mkdir BossCollection Guild Information
            h3.blueLinks
                a(href = "http://blog.askmrrobot.com/wp-content/uploads/2014/11/Garrisons1.png").blueLinks
                    | Garrison Information
    div.well.blackContainer
        div.container
            h1.text-center.headerRow
                | Recruiting
            div.row().text-center
                div.col-md-6
                    h3
                        | Current Needs
                    div.row()
                        div.col-md-4
                            | 1 Healer: Prefer priest
                        div.col-md-4
                            | 1 Tank: Pref Pally, dk, or druid
                        div.col-md-4
                            | 1 Boomkin
                div.col-md-6
                    h3
                        | Don't want
                    div.row()
                        div.col-md-12
                            | No pally healers. We have enough plate already and will have gear
                            | issues if we continue recruiting classes of that type.
            h1.text-center.headerRow
                | Requirements to raid
            div.row
                div.col-md-12
                        li
                            | Computer capable of raiding with 25 players and not dipping below 25fps
                        li
                            | Stable, fast internet
                        li
                            | Capable of adapting and learning quickly.
                        li
                            | Following Instructions
                        li
                            | Contributing to the guild (mats for raid consumables)
                        li
                            | Self learning. Know the fights before raid. I am not your teacher.
            h1.text-center.headerRow
                | About Us
            div.row.text-center
                p
                   | We are a raiding guild. We have members with raiding experience ranging from vanilla, bc, and wotlk to current xpac. We are a serious,
                   |  progression guild. If any member should hold us back,
                   | he will be informed. If improvement is not made, he will be removed from the raiding team.
                p
                    | We strive to have fun while we play. If something is giving us issues, it will be addressed as
                    | humanely as possible. You will not be yelled at or verbally abused. However, members will be informed
                    | if they aren't pulling their weight.
                p
                    | I hope to get through normal flex raids as quickly as possible and push through heroics.
                    | The goal is to down content pre-nerf. (Exceptions apply). If the raid team does well, we will progress
                    | from 10-15 man flex raids on to mythic content.
                p
                    | Still interested? PM me in game at chaunze or defragmentor.
    div.well
        div.container
            div.row.headerRow
                h1.text-center
                    | Schedule
                h4.text-center
                    | Server times

            div.row().text-center

                div.col-md-4
                    h3
                        | Tuesday
                    p
                        | 7:00pm - 9:30pm
                div.col-md-4
                    h3
                        | Thursday
                    p
                        | 7:00pm - 9:30pm
                div.col-md-4
                    h3
                        | Monday
                    p
                        | 7:00pm - 9:30pm
    div.well.blackContainer
        div.container.text-center
            h1.headerRow
                | Weekly consumables needed
            | To be updated...
    div.well
        div.container.text-center
            h1.headerRow
                | Required Addons
            p
                | We Recommend you use the Curse client. Helps keep you up to date.
            p
                | Having a clean interface can really improve your raiding. It'll cause less distractions and you can focus on what's important more easily.
            div.row().text-center
                div.col-md-6
                    ul.list-group
                        a(href = "http://www.curse.com/addons/wow/epgp_lootmaster").list-group-item
                            | EPGP Lootmaster
                        a(href = "http://www.curse.com/addons/wow/deadly-boss-mods").list-group-item
                            | Deadly Boss Mods (DBM)
                        a(href = "http://www.curse.com/addons/wow/recount").list-group-item
                            | Recount
                div.col-md-6
                    ul.list-group
                        a(href = "http://www.curse.com/addons/wow/heal-bot-continued").list-group-item
                            | Healbot (Or similar) - Healers Only
                        a(href = "http://www.tukui.org/dl.php").list-group-item
                            | Elvui - Not Required
                        a(href = "http://www.curse.com/addons/wow/decursive").list-group-item
                            | Decursive - Unless you use healbot
    div.well
        div.container
            h1.headerRow.text-center
                | Communication

            div.panel.panel-primary
                div.panel-heading.text-center
                    h2
                        | Mumble
                div.panel-body
                    b
                        | Address:
                    bosscollection.net
                    br
                    b
                        | Port:
                    64738
                    br
                    b
                        | Password:
                    located in guild info tab in game.



