script#mkdirHome(type="text/ng-template")

    div.jumbotron.mainJumbo
        div.container
            h1
                | mkdir BossCollection Guild Information
    div.well
        div.container
            h1.text-center
                | Schedule
            div.row().text-center
                div.col-md-4
                    h3
                        | Tuesday
                    p
                        | 6:30pm - 9:00pm
                div.col-md-4
                    h3
                        | Thursday
                    p
                        | 6:30pm - 9:00pm
                div.col-md-4
                    h3
                        | Monday
                    p
                        | 6:30pm - 9:00pm
    div.well.mainJumbo
        div.container.text-center
            h1
                | Required Addons
            p
                | Recommend you use the curse client. Help keeps you up to date.
            div.row().text-center.blueLinks
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/epgp_lootmaster")
                            | EPGP Lootmaster
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/deadly-boss-mods")
                            | Deadly Boss Mods (DBM)
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/recount")
                            | Recount
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/heal-bot-continued")
                            | Healbot
                    p
                        | Or some other healing assisted addon
                div.col-md-2
                    h3
                        a(href = "http://www.tukui.org/dl.php")
                            | Elvui
                        | &nbsp - NOT REQUIRED
                    p
                        | Clean UI using something similar to Elvui or Tukui (Use thier client)


                div.col-md-2
                    h3
    div.well
        div.container.text-center
            h1
                | Strategy Videos
            p
                | Recommend you use the curse client. Help keeps you up to date.
            div.row().text-center
                tabset()
                    tab(heading = "Highmaul")
                        div.container.text-center
                            div.row
                                div().col-md-2.col-sm-2
                                    h2.text-center.raidHeaders
                                        a(href = "https://www.youtube.com/watch?v=KpzfmKTZp8U")
                                            | Kargath Bladefist
                                div().col-md-2.col-sm-2
                                    h2.text-center.raidHeaders
                                        a(href = "https://www.youtube.com/watch?v=yIS0jjmcFgE")
                                            | The Butcher
                                div().col-md-1.col-sm-1
                                    h2.text-center.raidHeaders
                                        a(href = "https://www.youtube.com/watch?v=wNbJmeNLkjo")
                                            | Tectus
                                div().col-md-2.col-sm-2
                                    h2.text-center.raidHeaders
                                        a(href = "#")
                                            | Lord Krakkenspore
                                div().col-md-2.col-sm-2
                                    h2.text-center.raidHeaders
                                        a(href = "#")
                                            | Twin Ogron
                                div().col-md-1.col-sm-1
                                    h2.text-center.raidHeaders
                                        a(href = "#")
                                            | Felbreaker Lord
                                div().col-md-2.col-sm-2
                                    h2.text-center.raidHeaders
                                        a(href = "#")
                                            | Imperator Mar'gok
                    tab(heading = "Blackrock Foundry")
                        div.container.text-center
                            div.row
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders


