script#mkdirHome(type="text/ng-template")

    div.jumbotron.mainJumbo
        div.container
            h1
                | mkdir BossCollection Guild Information
    div.well
        div.container
            h1.text-center
                | Schedule
            div.row().text-center
                div.col-md-4
                    h3
                        | Tuesday
                    p
                        | 6:30pm - 9:00pm
                div.col-md-4
                    h3
                        | Thursday
                    p
                        | 6:30pm - 9:00pm
                div.col-md-4
                    h3
                        | Monday
                    p
                        | 6:30pm - 9:00pm
    div.well.mainJumbo
        div.container.text-center
            h1
                | Required Addons
            p
                | Recommend you use the curse client. Help keeps you up to date.
            div.row().text-center.blueLinks
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/epgp_lootmaster")
                            | EPGP Lootmaster
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/deadly-boss-mods")
                            | Deadly Boss Mods (DBM)
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/recount")
                            | Recount
                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/heal-bot-continued")
                            | Healbot
                    p
                        | Or some other healing assisted addon
                div.col-md-2
                    h3
                        a(href = "http://www.tukui.org/dl.php")
                            | Elvui
                        | &nbsp - NOT REQUIRED
                    p
                        | Clean UI using something similar to Elvui or Tukui (Use thier client)


                div.col-md-2
                    h3
                        a(href = "http://www.curse.com/addons/wow/decursive")
                                | Decursive
                    p()
                        | Unless you use another dispell assisting addon.
    div.well.stratVideos
        div.container.text-center
            h1
                | Strategy Videos
            p
                | Recommend you use the curse client. Help keeps you up to date.
            p
                | Click on images to see videos.
            div.row().text-center
                tabset()
                    tab(heading = "Highmaul")
                        div.container.text-center
                            div.row
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/kargath-bladefist-strategy-guide-preview")
                                            | Kargath Bladefist
                                    img(src = "/images/wodBosses/Highmaul/kargath.png", ng-click = "open('D5QqzwJIPa0')")
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/the-butcher-strategy-guide-preview")
                                            | The Butcher
                                    img(src = "/images/wodBosses/Highmaul/theButcher.png", ng-click = "open('QkLExQUJgW4')")
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/tectus-strategy-guide-preview")
                                            | Tectus
                                    img(src = "/images/wodBosses/Highmaul/tectus.png", ng-click = "open('C0VYzWNYDF0')")
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/brackenspore-strategy-guide-preview")
                                            | Brackenspore
                                img(src = "/images/wodBosses/Highmaul/brackenspore.png", ng-click = "open('mIdrE_7iqc8')")
                            div.row
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/twin-ogron-strategy-guide-preview")
                                            | Twin Ogron
                                    img(src = "/images/wodBosses/Highmaul/brackenspore.png", ng-click = "open('AJ4xo4jqJlU')")
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/ko-ragh-strategy-guide-preview")
                                            | ko'ragh
                                    img(src = "/images/wodBosses/Highmaul/ko'ragh.png", ng-click = "open('y9ha5_IkI7A')")
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        a(href = "http://www.icy-veins.com/wow/imperator-mar-gok-strategy-guide-preview")
                                            | Imperator Mar'gok
                                    img(src = "/images/wodBosses/Highmaul/imperatorMar'gok.png", ng-click = "open('i4OMq9fYgVY')")
                    tab(heading = "Blackrock Foundry")
                        div.container.text-center
                            div.row
                                div().col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                div(id="disqus_thread")




