script#mkdirHome(type="text/ng-template")

    div.jumbotron.mainJumbo
        div.container
            h1
                | mkdir BossCollection Guild Information
            h3
                a(href = "http://blog.askmrrobot.com/wp-content/uploads/2014/11/Garrisons1.png")
                    | Garrison Information
    div.well
        div.container
            h1.text-center
                | Schedule
            div.row().text-center
                div.col-md-4
                    h3
                        | Tuesday
                    p
                        | 6:30pm - 9:00pm
                div.col-md-4
                    h3
                        | Thursday
                    p
                        | 6:30pm - 9:00pm
                div.col-md-4
                    h3
                        | Monday
                    p
                        | 6:30pm - 9:00pm
    div.well.mainJumbo
        div.container.text-center
            h1
                | Required Addons
            p
                | Recommend you use the curse client. Helps keep you up to date.
            p
                | Having a clean interface can really improve your raiding. It'll cause less distractions and you can focus on what's important more easily.
            div.row().text-center
                div.col-md-6
                    ul.list-group
                        a(href = "http://www.curse.com/addons/wow/epgp_lootmaster").list-group-item
                            | EPGP Lootmaster
                        a(href = "http://www.curse.com/addons/wow/deadly-boss-mods").list-group-item
                            | Deadly Boss Mods (DBM)
                        a(href = "http://www.curse.com/addons/wow/recount").list-group-item
                            | Recount
                div.col-md-6
                    ul.list-group
                        a(href = "http://www.curse.com/addons/wow/heal-bot-continued").list-group-item
                            | Healbot (Or similar) - Healers Only
                        a(href = "http://www.tukui.org/dl.php").list-group-item
                            | Elvui - Not Required
                        a(href = "http://www.curse.com/addons/wow/decursive").list-group-item
                            | Decursive - Unless you use healbot
    bossstrategies




