script#mkdirHome(type="text/ng-template")
    div.jumbotron.wodHeader
    div.jumbotron
        div.container
            h1
                | mkdir BossCollection Guild Information
    div.well.blackContainer
        div.container

            div.row
                div.col-md-6
                    h1.text-center.headerRow
                        | Requirements to raid
                    li
                        | Computer capable of raiding with 25 players and not dipping below 25fps
                    li
                        | Stable, fast internet
                    li
                        | Capable of adapting and learning quickly.
                    li
                        | Following Instructions
                    li
                        | Contributing to the guild (mats for raid consumables)
                    li
                        | Self learning. Know the fights before raid. I am not your teacher.
                    li
                        | Welcoming of criticism (construtive, not dickish)

                div.col-md-6.text-center
                    h1.text-center.headerRow
                        | About Us
                    p
                       | Mkdir BossCollection is a dedicated progression raiding guild.
                       | Our members have raiding experience ranging from vanilla, BC, and WOTLK all the way to the current expansion.
                    p
                        | While we take raiding seriously, we strive to maintain a fun team atmosphere when we play.
                        | If something is causing an issue for the raid, it will be addressed as humanely as possible.
                        | No one will be yelled at or verbally abused, but any member not pulling his or her weight will be informed.
                        | If immediate improvements are not made, we will begin vetting others for their position in our raids.
                    p
                        | We are currently still in the process of recruiting for our mythic team. We have establish a solid core
                        | raiding team.
                    p
                        | Still interested? PM "Chaunze" or "Defragmentor" in game to begin the vetting process.
            div.row
                div.col-md-12
                    h1.text-center.headerRow
                        | Policies
            div.row
                div.col-md-6
                    h1.text-center.headerRow
                        | Loot - Loot Council

                    p
                        | We will be using RC Loot Council addon. These are some rules on how we are going to use
                        | the options provides by the addon.
                    h3
                        | General Items
                    ul
                        li
                            | When the item level upgrade is less than 10 ilvls, you should be marking it as a minor upgrade
                        li
                            | If the item is bis, you may mark it as an upgrade (main spec/need).
                        li
                            | If it's an off-spec request, pick off-spec. Don't pick minor upgrade.
                    h3
                        | Tier
                    ul
                        li
                            | When requesting the tier token, provide a note indicating the CURRENT number of pieces you
                            | own.
                        li
                            | Those who are getting their teir bonus will be prioritized over others.
                        li
                            | Tier tokens, if not an ilvl upgrade, can still be considered a significant upgrade
                            | (You can select main spec/need instead of minor upgrade)
                    p
                        | If you have recently had a major change in your classes stat priorities, and your old stats are
                        | hindering you ability to perform well in raid, talk to an officer. If the officer agrees
                        | that you need new stats to fix your spec, you will be given special permission to roll
                        | need on items that aren't an ilvl upgrade.


                div.col-md-6
                    h1.text-center.headerRow
                        | Alts/New Members
                    p
                        | On official raid nights (as dictated below), raid members will not be allowed to bring an alt
                        | unless the entire raid night has been altered to an unofficial night. EG during a hoiday off week.
                        | We do this to maintain a consistent raiding experience so that we can gear our mains as quickly as possible.
                        | Alts are typically less geared and the players playing them are usually less proficient with them.
                        | So it's in the best interest of the groups progression to just keep members on their mains.
                        | We will schedule alt nights through out the week to best fit members availability (this will change regularly).
    div.well
        div.container
            div.row
                div.col-md-6.text-center
                    div.headerRow
                        h1
                            | Schedule
                        h4
                            | Server times

                    div.row
                        div.col-md-4
                            h3
                                | Tuesday
                            p
                                | 6:45pm - 9:45pm
                        div.col-md-4
                            h3
                                | Wednesday
                            p
                                | 6:45pm - 9:45pm
                        div.col-md-4
                            h3
                                | Thursday
                            p
                                | 6:45pm - 9:45pm

                div.col-md-6.text-center
                    h1.headerRow
                        | Required Addons
                    p
                        | We Recommend you use the Curse client. Helps keep you up to date.
                    p
                        | Having a clean interface can really improve your raiding. It'll cause less distractions and you can focus on what's important more easily.

                    div.col-md-6
                        ul.list-group
                            a(href = "http://www.curse.com/addons/wow/deadly-boss-mods").list-group-item
                                | Deadly Boss Mods (DBM)
                            a(href = "http://www.curse.com/addons/wow/recount").list-group-item
                                | Skada
                            a(href = "http://www.curse.com/addons/wow").list-group-item
                                | Exorsus Raid Tools
                            a(href = "http://www.curse.com/addons/wow").list-group-item
                                | RCLoot Council
                    div.col-md-6
                        ul.list-group
                            a(href = "http://www.curse.com/addons/wow/heal-bot-continued").list-group-item
                                | Healbot (Or similar) - Healers Only
                            a(href = "http://www.tukui.org/dl.php").list-group-item
                                | Elvui - Not Required
                            a(href = "http://www.curse.com/addons/wow/decursive").list-group-item
                                | Decursive - Unless you use healbot
    div.well
        div.container
            div.row.text-center
                h1.headerRow
                    | General
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading
                            h3
                                | Communication
                        div.panel-body
                            b
                                | Server:
                            | Teamspeak
                            br
                            b
                                | Address:
                            | bosscollection.net
                            br
                            b
                                | Password:
                            | located in guild info tab in game.
    div.well
        div.container
            div.row.text-center
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading
                            h3
                                | Roster
                            a(href="https://docs.google.com/forms/d/1VPdtRT4PKz3ln-LW9D9tKJo7Heo95TYtprzMfG0XXjQ/viewform#start=invite").btn.btn-info
                                | Fill out
                        div.panel-body
                            div
                                iframe(src="https://docs.google.com/spreadsheets/d/1DpTOaGJS5sm60_NQ6Ww5lI9sXDM8loSq5Sjg8NMrN-0/pubhtml?widget=true&amp;headers=false").googleSheet




