script#mkdirHome(type="text/ng-template")
    div.jumbotron.wodHeader
    div.jumbotron
        div.container
            h1
                | mkdir BossCollection Guild Information
    div.well.blackContainer
        div.container
            h1.text-center.headerRow
                | Requirements to raid
            div.row
                div.col-md-12
                        li
                            | Computer capable of raiding with 25 players and not dipping below 25fps
                        li
                            | Stable, fast internet
                        li
                            | Capable of adapting and learning quickly.
                        li
                            | Following Instructions
                        li
                            | Contributing to the guild (mats for raid consumables)
                        li
                            | Self learning. Know the fights before raid. I am not your teacher.
            h1.text-center.headerRow
                | About Us
            div.row.text-center
                p
                   | Mkdir BossCollection is a dedicated progression raiding guild.
                   | Our members have raiding experience ranging from vanilla, BC, and WOTLK all the way to the current expansion.
                p
                    | While we take raiding seriously, we strive to maintain a fun team atmosphere when we play.
                    | If something is causing an issue for the raid, it will be addressed as humanely as possible.
                    | No one will be yelled at or verbally abused, but any member not pulling his or her weight will be informed.
                    | If immediate improvements are not made, we will begin vetting others for their position in our raids.
                p
                    | For us, raiding in WoD will begin with a normal flex group and quickly progress to heroics, as gear allows, pre-nerf.
                    | If flex raiding and heroics go well, we plan to step up to a 20-man core team for mythic in the near future.
                p
                    | Still interested? PM "Chaunze" or "Defragmentor" in game to begin the vetting process.
    div.well
        div.container
            div.row.headerRow
                h1.text-center
                    | Schedule
                h4.text-center
                    | Server times

            div.row().text-center

                div.col-md-4
                    h3
                        | Tuesday
                    p
                        | 7:00pm - 9:30pm
                div.col-md-4
                    h3
                        | Thursday
                    p
                        | 7:00pm - 9:30pm
                div.col-md-4
                    h3
                        | Monday
                    p
                        | 7:00pm - 9:30pm
    div.well
        div.container.text-center
            h1.headerRow
                | Required Addons
            p
                | We Recommend you use the Curse client. Helps keep you up to date.
            p
                | Having a clean interface can really improve your raiding. It'll cause less distractions and you can focus on what's important more easily.
            div.row().text-center
                div.col-md-6
                    ul.list-group
                        a(href = "http://www.curse.com/addons/wow/deadly-boss-mods").list-group-item
                            | Deadly Boss Mods (DBM)
                        a(href = "http://www.curse.com/addons/wow/recount").list-group-item
                            | Skada
                div.col-md-6
                    ul.list-group
                        a(href = "http://www.curse.com/addons/wow/heal-bot-continued").list-group-item
                            | Healbot (Or similar) - Healers Only
                        a(href = "http://www.tukui.org/dl.php").list-group-item
                            | Elvui - Not Required
                        a(href = "http://www.curse.com/addons/wow/decursive").list-group-item
                            | Decursive - Unless you use healbot
    div.well
        div.container
            h1.headerRow.text-center
                | Communication

            div.panel.panel-primary
                div.panel-heading.text-center
                    h3
                        | Mumble
                div.panel-body
                    b
                        | Address:
                    | bosscollection.net
                    br
                    b
                        | Port:
                    | 64738
                    br
                    b
                        | Password:
                    | located in guild info tab in game.



