script#progression(type="text/ng-template")
    div.jumbotron.wodHeader
    div.well.imgContainer
        div.container
            div()
                div(style='height: 305px')
                    carousel(interval='myInterval')
                      slide(ng-repeat='slide in slides', active='slide.active')
                        img(ng-src='{{slide.image}}', style='margin:auto;')
                        .carousel-caption
                          p {{slide.text}}
    div.well
        div.container
            div.row
                div(ng-show = "hasEnteredUsername").col-md-2
                    h4
                        | Users
                    div().btn-group
                        button(data-toggle ="dropdown").btn-info.dropdown-toggle
                            | System
                            Action
                                span.caret
                        ul(role="menu").dropdown-menu
                            li
                                a(ng-click = "filterUser({userName: 'System'})")
                                    | Mute
                    div(ng-repeat = "user in users")
                        div(ng-show = "user != userName").btn-group
                            button(data-toggle ="dropdown").btn-info.dropdown-toggle
                                {{user.userName}}
                                Action
                                    span.caret
                            ul(role="menu").dropdown-menu
                                li
                                    a(href="")
                                        | Personal Chat
                                li
                                    a(href="", ng-click = "filterUser(user)", ng-show = "!user.muted")
                                        | Mute
                                li
                                    a(href="", ng-click = "filterUser(user)", ng-show = "user.muted")
                                        | Unmute
                                li
                                    a(href="")
                                        | View only this person
                div.col-md-10
                    div(ng-show = "hasEnteredUsername")
                        h3
                            | Chat Room
                            i
                                | (Beta)
                        div.container.chat
                            div(ng-repeat = "message in filteredMessages | filter:systemFilter | filter:chatFilters").row
                                div.col-md-1
                                    b
                                        {{message.userName}}
                                div.col-md-10
                                    {{message.message}}
                                br
                        div.container
                            input(ng-model = "messageToSend")
                            br
                            button(ng-click = "submitMessage()")
                                | Submit
                    div(ng-show = "!hasEnteredUsername").container
                        | Enter your username
                        div.container
                            input(type = "text", placeholder="Enter Username...", ng-model = "userName")
                            button(ng-click = "enterUsername()") Submit

    div.well
        div.container.text-center
            div.panel.panel-primary
                div.panel-heading.text-center
                    h3
                        | Progression (Normals)
                div.panel-body
                    tabset()
                        tab(heading = "Highmaul - Cleared")
                            div.row
                                div.col-md-6
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Kargath: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Butcher: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Tectus: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Brackenspore: &nbsp
                                                span.label.label-success
                                                    | Downed
                                div.col-md-6
                                    div.text-center
                                        ul.list-group
                                            a().list-group-item
                                                | Twins: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Ko'ragh: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Imp: &nbsp
                                                span.label.label-success
                                                    | Downed

                        tab(heading = "BlackRock Foundry")
                            div.row
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Gruul: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Oregorger: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Beastlord Darmac: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Flamebender Ka'graz: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Hans'gar and Franzok: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Operator Thogar: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | The Blast Furnace: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Kromog: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | The Iron Maidens: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Blackhand: &nbsp
                                                span.label.label-danger
                                                    | Soon...
            div.panel.panel-primary
                div.panel-heading.text-center
                    h3
                        | Progression (Heroic)
                div.panel-body
                    tabset()
                        tab(heading = "Highmaul - Cleared")
                            div.row
                                div.col-md-6
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Kargath: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Butcher: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Tectus: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Brackenspore: &nbsp
                                                span.label.label-success
                                                    | Downed
                                div.col-md-6
                                    div.text-center
                                        ul.list-group
                                            a().list-group-item
                                                | Twins: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Ko'ragh: &nbsp
                                                span.label.label-success
                                                    | Downed
                                            a().list-group-item
                                                | Imp: &nbsp
                                                span.label.label-success
                                                    | Downed

                        tab(heading = "BlackRock Foundry")
                            div.row
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Gruul: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Oregorger: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Beastlord Darmac: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Flamebender Ka'graz: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Hans'gar and Franzok: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Operator Thogar: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | The Blast Furnace: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Kromog: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | The Iron Maidens: &nbsp
                                                span.label.label-danger
                                                    | Soon...
                                            a().list-group-item
                                                | Blackhand: &nbsp
                                                span.label.label-danger
                                                    | Soon...
            div.panel.panel-primary
                 div.panel-heading.text-center
                     h3
                         | Progression (Mythic)
                 div.panel-body
                    tabset()
                        tab(heading = "Highmaul")
                            div.row
                                div.col-md-6
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Kargath: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Butcher: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Tectus: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Brackenspore: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                div.col-md-6
                                    div.text-center
                                        ul.list-group
                                            a().list-group-item
                                                | Twins: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Ko'ragh: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Imp: &nbsp
                                                span.label.label-info
                                                    | Recruiting...

                        tab(heading = "BlackRock Foundry")
                            div.row
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Gruul: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Oregorger: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Beastlord Darmac: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                            a().list-group-item
                                                | Flamebender Ka'graz: &nbsp
                                                span.label.label-info
                                                    | Recruiting...
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | Hans'gar and Franzok: &nbsp
                                                span.label.label-info
                                                    | Recruiting..
                                            a().list-group-item
                                                | Operator Thogar: &nbsp
                                                span.label.label-info
                                                    | Recruiting..
                                            a().list-group-item
                                                | The Blast Furnace: &nbsp
                                                span.label.label-info
                                                    | Recruiting..
                                            a().list-group-item
                                                | Kromog: &nbsp
                                                span.label.label-info
                                                    | Recruiting..
                                div.col-md-4
                                    div
                                        ul.list-group
                                            a().list-group-item
                                                | The Iron Maidens: &nbsp
                                                span.label.label-info
                                                    | Recruiting..
                                            a().list-group-item
                                                | Blackhand: &nbsp
                                                span.label.label-info
                                                    | Recruiting..

