script#progression(type="text/ng-template")
    div.jumbotron
        div.container
            h1
                | mkdir BossCollection Guild Progression
            div.row
                h3
                    | Logs
                a(href = "https://www.warcraftlogs.com/guilds/36279/")
                    | Warcraft Logs
    div.well.blackContainer
        div.container.text-center
            h1.headerRow
                | Progression (Normals)
            tabset()
                tab(heading = "Highmaul")
                    div.row
                        div.col-md-6
                            div
                                ul.list-group
                                    a().list-group-item
                                        | Kargath: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Butcher: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Tectus: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Brackenspore: &nbsp
                                        span.label.label-success
                                            | Downed
                        div.col-md-6
                            div.text-center
                                ul.list-group
                                    a().list-group-item
                                        | Twins: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Ko'ragh: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Imp: &nbsp
                                        span.label.label-danger
                                            | In Progress

                tab(heading = "BlackRock Foundry")
                    div.container.text-center
                        ul.list-group
        div.container.text-center
            h1.headerRow
                | Progression (Heroic)
            tabset()
                tab(heading = "Highmaul")
                    div.row
                        div.col-md-6
                            div
                                ul.list-group
                                    a().list-group-item
                                        | Kargath: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Butcher: &nbsp
                                        span.label.label-danger
                                            | In Progress (5%)
                                    a().list-group-item
                                        | Tectus: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Brackenspore: &nbsp
                                        span.label.label-success
                                            | Downed
                        div.col-md-6
                            div.text-center
                                ul.list-group
                                    a().list-group-item
                                        | Twins: &nbsp
                                        span.label.label-success
                                            | Downed
                                    a().list-group-item
                                        | Ko'ragh: &nbsp
                                        span.label.label-danger
                                            | In Progress
                                    a().list-group-item
                                        | Imp: &nbsp
                                        span.label.label-danger
                                            | In Progress

                tab(heading = "BlackRock Foundry")
                    div.container.text-center
                        ul.list-group
        div.container.text-center
            h1.headerRow
                | Progression (Mythic)
            tabset()
                tab(heading = "Highmaul")
                    div.row
                        div.col-md-6
                            div
                                ul.list-group
                                    a().list-group-item
                                        | Kargath: &nbsp
                                        span.label.label-info
                                            | Recruiting...
                                    a().list-group-item
                                        | Butcher: &nbsp
                                        span.label.label-info
                                            | Recruiting...
                                    a().list-group-item
                                        | Tectus: &nbsp
                                        span.label.label-info
                                            | Recruiting...
                                    a().list-group-item
                                        | Brackenspore: &nbsp
                                        span.label.label-info
                                            | Recruiting...
                        div.col-md-6
                            div.text-center
                                ul.list-group
                                    a().list-group-item
                                        | Twins: &nbsp
                                        span.label.label-info
                                            | Recruiting...
                                    a().list-group-item
                                        | Ko'ragh: &nbsp
                                        span.label.label-info
                                            | Recruiting...
                                    a().list-group-item
                                        | Imp: &nbsp
                                        span.label.label-info
                                            | Recruiting...

                tab(heading = "BlackRock Foundry")
                    div.container.text-center
                        ul.list-group

