script#register(type="text/ng-template")
    div.jumbotron.wodHeader
    div.well
        div.container.text-center
            h1 Registration
            br
            form(role='form', action="/register",method="post")
                div.form-group
                    input.form-control(type='text', name="username", placeholder='Enter Username')
                div.form-group
                    input.form-control(type='password', name="password", placeholder='Password')
                button.btn.btn-default(type='submit') Submit
                &nbsp;
                a(href='/')
                button.btn.btn-primary(type="button") Cancel
