div.sideNav#sideNavID
	div(ng-repeat = "boss in raidToDisplay")
		button(ng-click="changeBossInfo(boss)", ng-class = "boss.isSelected ? 'sideNavButtonSelected' : ''").sideNavButtons
			| {{boss.name}}
	