script#videoModal(type="text/ng-template")
    div(class="modal-header")
        h3(class="modal-title")
        div(class="modal-body")
            div.container-fluid
                iframe(ng-src="{{getIframeSrc()}}", allowfullscreen).videoPlayer
