script#viewAllEvents(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container")
            h1.
                {{welcomeMessage}}
            p
                | Only available in Alpha
    div().container
        b
            | Search for Events
        input(ng-model="searchEvents", placeholder ="Find events...")

        table(class = "table table-striped")
            tr
                th() Event
                th() Responses
                th() Date
                th() Location
                th() Time
            tr(ng-repeat = "event in events | filter:searchEvents")
                td()
                    a(href ="viewEvent/{{event._id}}")
                        {{event.eventName}}

                td()
                    span(class = "label label-info") {{event.attendees.length}}
                    span(class = "label label-warning") {{event.maybe.length}}
                    span(class = "label label-danger") {{event.nopes.length}}
                td()
                    {{event.eventDate}}
                td()
                    {{event.eventLocation}}
                td()
                    {{event.eventTime}}



