/* You can add global styles to this file, and also import other style files */

html, 
body {
    min-height: 100%;    
}


body { 
    margin: 0;
    padding: 0;
    font-family: 'roboto'
}

hr {
    display: block;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .32);
    width: 100%
  }

.backgroundFlair{
    background-image: url('./assets/images/classBackdrops/demon hunter.jpg'); 
}

.backgroundBase{
    width:100%; 
    background-size: cover;
    background-repeat: no-repeat;
}

.setHeightToMax {
    height:100%;
}

.noPadding{
    padding:0 !important;
    margin:0 !important;
}