/* You can add global styles to this file, and also import other style files */

html, 
body {
    min-height: 100%;    
}


body { 
    margin: 0;
    padding: 0;
    font-family: 'roboto'
}

hr {
    display: block;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .32);
    width: 100%
  }

.backgroundFlair{
    background-image: url("./assets/images/classBackdrops/demon_hunter.jpg"); 
}

.backgroundBase{
    width:100%; 
    background-size: cover;
    background-repeat: no-repeat;
}

.setHeightToMax {
    height:100%;
}

.noPadding{
    padding:0 !important;
    margin:0 !important;
}


.classBackgroundBase{
    width:100%; 
    background-size: cover;
    background-repeat: no-repeat;
}

.shamanBackground{
    background-image: url("./assets/images/classBackdrops/shaman.jpg"); 
}

.hunterBackground{
    background-image: url("./assets/images/classBackdrops/hunter.jpg"); 
}

.demonhunterBackground{
    background-image: url("./assets/images/classBackdrops/demon_hunter.jpg"); 
}

.druidBackground{
    background-image: url("./assets/images/classBackdrops/druid.jpg"); 
}

.paladinBackground{
    background-image: url("./assets/images/classBackdrops/paladin.jpg"); 
}

.deathknightBackground{
    background-image: url("./assets/images/classBackdrops/death_knight.jpg"); 
}

.monkBackground{
    background-image: url("./assets/images/classBackdrops/monk.jpg"); 
}

.mageBackground{
    background-image: url("./assets/images/classBackdrops/mage.jpg"); 
}

.priestBackground{
    background-image: url("./assets/images/classBackdrops/priest.jpg"); 
}

.rogueBackground{
    background-image: url("./assets/images/classBackdrops/rogue.jpg"); 
}

.warlockBackground{
    background-image: url("./assets/images/classBackdrops/warlock.jpg"); 
}

.warriorBackground{
    background-image: url("./assets/images/classBackdrops/warrior.jpg"); 
}