<div class="row center-xs">
  <mat-card *ngIf="loading" class="col-mat-3 col-xs-12 center-xs">
    <mat-spinner ></mat-spinner>
  </mat-card>
  <div *ngIf="!loading" class="col-xs-12 col-mat-6">


    <mat-table [dataSource]="applications">

      <ng-container matColumnDef="Character">
        <mat-header-cell *matHeaderCellDef> Character </mat-header-cell>
        <mat-cell *matCellDef="let application">
          <div class="row start-xs middle-xs">

            <img [src]="getUrl(application)" /> &nbsp; {{application.character}}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date Applied">
        <mat-header-cell *matHeaderCellDef> Date Applied </mat-header-cell>
        <mat-cell *matCellDef="let application">{{application.dateApplied | date:'shortDate'}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="View Application">
        <mat-header-cell *matHeaderCellDef> View Application </mat-header-cell>
        <mat-cell *matCellDef="let application">
          <button (click)="viewApp(application)" mat-raised-button color="primary"> View </button>
          <button (click)="deleteApplication(application)" mat-icon-button color="warning"> <mat-icon>delete</mat-icon> </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>
</div>