script#home(type="text/ng-template")  
  
  md-content()
    section(id = "imageGallery").imageGallery        
        
    section(layout="column", ng-if = "user.guild")
        md-tabs(md-dynamic-height, md-border-bottom).md-background
            md-tab(ng-repeat = "tab in guild.tabs", label = "{{tab.title}}")
                md-content().md-padding
                    md-card
                        md-card-content
                            div(ng-if = "!editing")
                                display-markdown(markdown = "tab.content")
                            div(flex, layout = "column", ng-if = "editing")
                                div(flex)
                                    md-input-container(flex).md-block
                                        label() Tab Title
                                        input(ng-model = "tab.title")
                                    
                                    input-markdown(flex, input = "tab.content")
                                div(flex, layout = "row",  layout-align="end center")
                                    md-button(ng-click = "saveTab()").md-raised.md-primary
                                        | Save
                                    md-button(ng-click = "cancel()").md-raised.md-primary
                                        | Cancel
                        md-card-actions(ng-if = "isOfficer()")
                            md-button(ng-click = "editTab($index)").md-icon-button
                                md-icon(md-font-library="material-icons") edit
                            md-button(ng-click = "deleteTab($index)").md-icon-button
                                md-icon(md-font-library="material-icons") delete
            md-tab(label = "{{newTab.title}}", ng-if = "isOfficer()")
                md-card
                    md-card-content                            
                        div(flex, layout = "column")
                            div(flex)
                                md-input-container(flex).md-block
                                    label() Tab Title
                                    input(ng-model = "newTab.title")
                                
                                input-markdown(flex, input = "newTab.content")
                            div(flex, layout = "row",  layout-align="end center")
                                md-button(ng-click = "addNewTab()").md-raised.md-primary
                                    | Save
        
        
    section(flex, layout="column", ng-if = "!user")
        div(flex, layout = "column", layout-align = "center center").welcomeBanner
            h2
                | Welcome to BossCollection
            p()
                | Your home for guild management.
            div()
                span()
                    | Get started
            div()
                md-button(ng-click = "login()").md-raised.md-accent
                    | Login
                md-button(ng-click = "goTo('auth/signup')").md-raised.md-accent
                    | Register
        div()
        div(flex)            
            div(layout-xs = "column", layout = "row", layout-align = "space-around start", layout-align-xs = "center center")

                div(flex, layout = "column", layout-align = "center center").featureSection
                    div(flex).iconSection
                        md-icon(md-font-library="material-icons") smartphone
                    h2(layout-align = "center center")
                        | Modern Site
                    section
                        span()
                            | Designed for the desktop, and your phone.
                    

                div(flex, layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") send
                    h2
                        | Blizzard api backed application process
                    section
                        span()
                            | Applications require accurate server/character information. 
                            | We then compile the users info, provide a link to their actual wow armory, and 
                            | give some basic info so you can quickly and accurately filter out undesireable applicants.

                div(flex, layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") poll
                    h2
                        | Attendance tracking
                    section
                        span()
                            | Manage raiders attendance through this easy to use tool.
                            | Weighted attendance designated by you or your raid leader.
                            | Attendance history. Go back in time to see someones attendance at any point in the guilds history.

            div(layout-xs = "column", layout = "row", layout-align = "space-around start", layout-align-xs = "center center")

                div(layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") forum
                    h2
                        | Modern Forums
                    section
                        span()
                            | Forums re-designed for a modern website.
            
            
                div(layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") settings
                    h2
                        | Easy Administration
                    section
                        span()
                            | No complex widget or component management. All you need is built right into the sites components.

                div(layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") link
                    h2
                        | Custimization of external guild tools. 
                    section
                        span()
                            | Integrated links to your tools of choice.      
        
    section(flex, layout="column", ng-if = "user && !user.guild")
        div(flex, layout = "column", layout-align = "center center").welcomeBanner
            h2
                | Welcome to BossCollection
            p()
                | Your home for guild management.
            div()
                span()
                    | Get started
            div()
                md-button(ng-click = "login()").md-raised.md-accent
                    | Login
                md-button(ng-click = "goTo('auth/signup')").md-raised.md-accent
                    | Register
        div()
        div(flex)            
            div(layout-xs = "column", layout = "row", layout-align = "space-around start", layout-align-xs = "center center")

                div(flex, layout = "column", layout-align = "center center").featureSection
                    div(flex).iconSection
                        md-icon(md-font-library="material-icons") smartphone
                    h2(layout-align = "center center")
                        | Modern Site
                    section
                        span()
                            | Designed for the desktop, and your phone.
                    

                div(flex, layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") send
                    h2
                        | Blizzard api backed application process
                    section
                        span()
                            | Applications require accurate server/character information. 
                            | We then compile the users info, provide a link to their actual wow armory, and 
                            | give some basic info so you can quickly and accurately filter out undesireable applicants.

                div(flex, layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") poll
                    h2
                        | Attendance tracking
                    section
                        span()
                            | Manage raiders attendance through this easy to use tool.
                            | Weighted attendance designated by you or your raid leader.
                            | Attendance history. Go back in time to see someones attendance at any point in the guilds history.

            div(layout-xs = "column", layout = "row", layout-align = "space-around start", layout-align-xs = "center center")

                div(layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") forum
                    h2
                        | Modern Forums
                    section
                        span()
                            | Forums re-designed for a modern website.
            
            
                div(layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") settings
                    h2
                        | Easy Administration
                    section
                        span()
                            | No complex widget or component management. All you need is built right into the sites components.

                div(layout = "column", layout-align = "flex-start center").featureSection
                    div(layout, layout-align = "center center").iconSection
                        md-icon(md-font-library="material-icons") link
                    h2
                        | Custimization of external guild tools. 
                    section
                        span()
                            | Integrated links to your tools of choice.
            
    ad(flex, layout, layout-align = "center center")
    