script#home(type="text/ng-template")
  md-content
    section().wodHeader
    section(layout="column", ng-if = "user.guild")
        md-tabs(md-dynamic-height, md-border-bottom).md-background
            md-tab(ng-repeat = "tab in guild.tabs", label = "{{tab.title}}")
                md-content().md-padding
                    md-card
                        md-card-content
                            div(ng-if = "!editing")
                                display-markdown(markdown = "tab.content")
                            div(flex, layout = "column", ng-if = "editing")
                                div(flex)
                                    md-input-container(flex).md-block
                                        label() Tab Title
                                        input(ng-model = "tab.title")
                                    
                                    input-markdown(flex, input = "tab.content")
                                div(flex, layout = "row",  layout-align="end center")
                                    md-button(ng-click = "saveTab()").md-raised.md-primary
                                        | Save
                                    md-button(ng-click = "cancel()").md-raised.md-primary
                                        | Cancel
                        md-card-actions(ng-if = "user.rank > 2")
                            md-button(ng-click = "editTab($index)").md-icon-button
                                md-icon(md-font-library="material-icons") edit
                            md-button(ng-click = "deleteTab($index)").md-icon-button
                                md-icon(md-font-library="material-icons") delete
            md-tab(label = "{{newTab.title}}", ng-if = "user.rank > 2")
                md-card
                    md-card-content                            
                        div(flex, layout = "column")
                            div(flex)
                                md-input-container(flex).md-block
                                    label() Tab Title
                                    input(ng-model = "newTab.title")
                                
                                input-markdown(flex, input = "newTab.content")
                            div(flex, layout = "row",  layout-align="end center")
                                md-button(ng-click = "addNewTab()").md-raised.md-primary
                                    | Save
        
    section(layout="column", ng-if = "!user.guild")
        div(flex, layout-align = "center center")
            h3
                | Welcome to BossCollection.net
            p()
                | To get started, login, create or join a guild, and start using the site!
        div(flex)
            md-card
                md-card-title
                    md-card-title-text
                        h3
                            | Features
                md-card-content
                    | Test
            
        ad()
        