script#recruitmentTemplate(type="text/ng-template")
    section(layout = "column", layout-align = "center center")
        h2
            |  Recruitment Needs
            span(ng-if = "isOfficer()")
                md-button(ng-click = "editRecruitment()").md-raised.md-primary
                    | Edit
        div(layout = "column")     
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Death Knight
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/deathknight.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/deathknight/blood.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 1                                    
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/deathknight/frost.png").md-card-imageself.getComments
                                    span()
                                        | 0
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/deathknight/unholy.png").md-card-imageself.getComments
                                    span()
                                        | 3
                                
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Hunter
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/hunter.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/hunter/marksman.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/hunter/beastmastery.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/hunter/survival.png").md-card-imageself.getComments
                                    span()
                                        | 10
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Druid
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/druid.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/druid/balance.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/druid/feral.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/druid/guardian.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/druid/restoration.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Paladin
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/paladin.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/paladin/holy.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/paladin/retribution.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/paladin/protection.png").md-card-imageself.getComments
                                    span()
                                        | 10
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Priest
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/priest.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/priest/holy.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/priest/discipline.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/priest/shadow.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Rogue
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/rogue.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/rogue/subtlety.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/rogue/combat.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/rogue/assassination.png").md-card-imageself.getComments
                                    span()
                                        | 10
            
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Shaman
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/shaman.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/shaman/elemental.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/shaman/enhancement.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/shaman/restoration.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Warlock
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/warlock.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/warlock/affliction.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/warlock/demonology.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/warlock/destruction.png").md-card-imageself.getComments
                                    span()
                                        | 10
            
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Warrior
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/warrior.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/warrior/arms.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/warrior/fury.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/warrior/protection.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Demon Hunter
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/demonhunter.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/demonhunter/havoc.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/demonhunter/vengeance.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Monk
                                span(ng-if = "true", class = "md-subhead")
                                    | Any Spec - 2
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/monk.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/monk/brewmaster.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/monk/mistweaver.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/monk/windwalker.png").md-card-imageself.getComments
                                    span()
                                        | 10
                

  