script#recruitmentEditTemplate(type="text/ng-template")
    section(layout = "column", layout-align = "center center")
        h2
            |  Recruitment Edit
        div(layout = "column")
            div(flex, layout = "column")
                h3
                    | Death Knights
                div()
                    md-input-container
                        label()
                            | How many?
                        input(ng-model=")

                    
            div(flex)    
                md-button(ng-click = "ctrl.parent.saveRecruitment()") Save