script#recruitmentEditTemplate(type="text/ng-template")
    section(layout = "column", layout-align = "center center")
        h2
            |  Recruitment Edit
        div(layout = "column")     
            md-button(ng-click = "ctrl.parent.saveRecruitment()") Test