script#recruitmentTemplate(type="text/ng-template")
    section(layout = "column", layout-align = "center center")
        h2
            |  Recruitment Needs
        div(layout = "column")     
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Death Knight
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/deathknight.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/deathknight/blood.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 1
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/deathknight/frost.png").md-card-imageself.getComments
                                    span()
                                        | 0
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 75%;height: 75%;" src="images/classIcons/images/spec/deathknight/unholy.png").md-card-imageself.getComments
                                    span()
                                        | 3
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Hunter
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/hunter.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/hunter/marksman.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/hunter/beastmastery.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/hunter/survival.png").md-card-imageself.getComments
                                    span()
                                        | 10
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Druid
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/druid.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/druid/balance.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/druid/feral.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/druid/guardian.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/druid/restoration.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
            div(layout)   
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
        
                section()
                    md-card(md-theme = "dark-grey", style = "color: white")
                        md-card-title
                            md-card-title-text(layout-align = "center center")
                                span(class="md-headline") 
                                    | Mage
                            md-card-title-media()
                        md-card-content(layout)
                            div().md-media-lg.card-media
                                img(style = "width: 75%;height: 75%;" src="images/classIcons/images/crests/Mage.png").md-card-imageself.getComments
                            div(layout = "column", layout-align = "center space-between")
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/arcane.png").md-card-imageself.getComments
                                    span(layout-align = "center center")
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/frost.png").md-card-imageself.getComments
                                    span()
                                        | 10
                                div(flex, layout, layout-align = "center center")
                                    img(style = "width: 50%;height: 50%;" src="images/classIcons/images/spec/Mage/fire.png").md-card-imageself.getComments
                                    span()
                                        | 10
                

        //-
            section()
                h4
                    | Mage
            section()
                h4
                    | Hunter
            section()
                h4
                    | Druid            
            section()
                h4
                    | Monk
            section()
                h4
                    | Paladin
            section()
                h4
                    | Priest
            section()
                h4
                    | Rogue
            section()
                h4
                    | Shaman
            section()
                h4
                    | Warlock
            section()
                h4
                    | Warrior
            
