extends layout

block body
    header( class = "navbar")
        nav(role="navigation")
            div(class="container-fluid")
                div(class="navbar-header")
                    button( type = "button", class = "navbar-toggle", data-toggle="collapse", data-target="#menuCollapse")
                        span(class = "sr-only") Toggle Navigation
                        span(class = "icon-bar")
                        span(class = "icon-bar")
                        span(class = "icon-bar")

                    a(class="navbar-brand", href="/") Boss Collection &nbsp
                        i
                            | (Alpha)

                div(class="collapse navbar-collapse", id="menuCollapse")
                    ul(class="nav navbar-nav")
                        li
                            //a(href="/createEvent") Create an event

    div(ng-view)
    include partials/home


