extends layout

block body

    //-ul(id="dropdown1", class = "dropdown-content")
      li
        a(href="#!", class = "waves-effect waves-light") Hellfire Citdael
      li
        a(href="#!", class = "waves-effect waves-light") Blackrock Foundry
      li
        a(href="/strategyRoom/hm", class = "waves-effect waves-light") Highmaul
    //-ul(id="dropdown2", class = "dropdown-content")
      li
        a(href="#!", class = "waves-effect waves-light") Hellfire Citdael
      li
        a(href="#!", class = "waves-effect waves-light") Blackrock Foundry
      li
        a(href="/strategyRoom/hm", class = "waves-effect waves-light") Highmaul
    nav(class = "transparent")
      div(class = "nav-wrapper")
        a(href="/", class = "brand-logo waves-effect waves-light") BossCollection
        a(href="#", data-activates="sideNavMobile", class="button-collapse")
            i(class="material-icons") menu
        ul(class="center hide-on-med-and-down")
          li
            a(href = "https://www.warcraftlogs.com/guilds/36279", class = "waves-effect waves-light") Logs
          li
            a(href="http://bosscollection.enjin.com/forum", class = "waves-effect waves-light") Forums
          li
            a(href="/roster", class = "waves-effect waves-light") Guild Roster
          li
            a(href="http://www.wowprogress.com/guild/us/zul-jin/mkdir+BossCollection", class = "waves-effect waves-light")
              | Progression
          //-li
            a(data-activates = "dropdown1", class = "waves-effect waves-light dropdown-button")
              | Strategy Room
              i(class = "material-icons right") arrow_drop_down
        ul(id = "sideNavMobile", class = "side-nav")
          li
            a(href="#!", class = "waves-effect waves-light") Logs
          li
            a(href="#!", class = "waves-effect waves-light") Forums
          li
            a(href="/roster", class = "waves-effect waves-light") Guild Roster
          //-li
            a(data-activates = "dropdown2", class = "waves-effect waves-light dropdown-button")
              | Strategy Room
              i(class = "material-icons right") arrow_drop_down
            
    div(ng-view)     
    
    
    footer.page-footer.transparent
      div.container.transparent
        div.col.16.s6
          h5.white-text
            | Libraries
        div.col.14.offset-12.s6          
          div.collection
              a(href = "http://materializecss.com/", class = "waves-effect waves-light collection-item btn")
                | Materialize
              a(href = "#!", class = "waves-effect waves-light collection-item btn")
                | Blizzard api
              a(href = "http://angularjs.org/", class = "waves-effect waves-light collection-item btn")
                | AngularJS
              a(href = "http://nodejs.org/", class = "waves-effect waves-light collection-item btn")
                | NodeJS


    include partials/home    
    include partials/strategyRoom
    include ../public/js/directives/bossStrategyTemplate
    include partials/videoModal
    include partials/roster
    
