extends layout

block body

    header( class = "navbar navbar-inverse navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                button( type = "button", class = "navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                    span(class = "sr-only") Toggle Navigation
                    span(class = "icon-bar")
                    span(class = "icon-bar")
                    span(class = "icon-bar")

                a(class="navbar-brand", href="/") Boss Collection &nbsp

            div(class="navbar-collapse collapse", id="menuCollapse")
                ul(class="nav navbar-nav")
                    li.dropdown
                        a(href="#", data-toggle="dropdown").dropdown-toggle 
                            | Strategy Room
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/strategyRoom/hfc")
                                    | Hellfire Citadel
                            li
                                a(href="/strategyRoom/brf")
                                    | Blackrock Foundry
                            li
                                a(href="/strategyRoom/brf")
                                    | Highmaul
                                                        
                    li
                        a(href = "https://www.warcraftlogs.com/guilds/36279") Logs
                    li
                        a(href="http://bosscollection.enjin.com/forum") Forums
                    li
                        a(href="/roster") Guild Roster
                            
    div(ng-view)
        script.
            function twitter() {!function(d,s,id){
                var js,
                    fjs=d.getElementsByTagName(s)[0],
                    p=/^http:/.test(d.location)?'http':'https';

                    js=d.createElement(s);
                    js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                    console.log(id);
            }(document,"script","twitter-wjs");
                console.log("Twitter loading...");
            }

            var disqus_shortname = 'bosscollection'; // Required - Replace example with your forum shortname
            var disqus_identifier = '';
            var disqus_title = '';
            var disqus_url = '';

            function disqus() {(function() {
                var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            }

    div.footer
        div.container
            div.row.text-center
                h3
                    | Libraries used
                div.col-md-6.text-center

                    br
                    span
                        a(href = "http://getbootstrap.com/")
                            | Bootstrap
                    br
                    span
                        | Blizzard api
                div.col-md-6
                    br
                    span
                        a(a href = "https://angularjs.org/")
                            | AngularJS
                    br
                    span
                        a(a href = "http://nodejs.org/")
                            | NodeJS


    include partials/home
    include partials/mkdirPartial
    include partials/strategyRoom
    include partials/bossStrategyTemplate
    include partials/videoModal
    include partials/roster
    
    