extends layout

block body

    ul(id="dropdown1", class = "dropdown-content")
      li
        a(href="#!", class = "waves-effect waves-light") Hellfire Citdael
      li
        a(href="#!", class = "waves-effect waves-light") Blackrock Foundry
      li
        a(href="/strategyRoom/hm", class = "waves-effect waves-light") Highmaul
    ul(id="dropdown2", class = "dropdown-content")
      li
        a(href="#!", class = "waves-effect waves-light") Hellfire Citdael
      li
        a(href="#!", class = "waves-effect waves-light") Blackrock Foundry
      li
        a(href="/strategyRoom/hm", class = "waves-effect waves-light") Highmaul
    nav(class = "transparent")
      div(class = "nav-wrapper")
        a(href="/", class = "brand-logo waves-effect waves-light") BossCollection
        a(href="#", data-activates="sideNavMobile", class="button-collapse")
            i(class="material-icons") menu
        

        ul(class="center hide-on-med-and-down")
          li
            a(href="#!", class = "waves-effect waves-light") Logs
          li
            a(href="#!", class = "waves-effect waves-light") Forums
          li
            a(href="/roster", class = "waves-effect waves-light") Guild Roster
          li
            a(data-activates = "dropdown1", class = "waves-effect waves-light dropdown-button")
              | Strategy Room
              i(class = "material-icons right") arrow_drop_down
        ul(id = "sideNavMobile", class = "side-nav")
          li
            a(href="#!", class = "waves-effect waves-light") Logs
          li
            a(href="#!", class = "waves-effect waves-light") Forums
          li
            a(href="/roster", class = "waves-effect waves-light") Guild Roster
          li
            a(data-activates = "dropdown2", class = "waves-effect waves-light dropdown-button")
              | Strategy Room
              i(class = "material-icons right") arrow_drop_down
            
    div(ng-view)     
    
    
    footer.page-footer.transparent
      div.container.transparent
        div.col.16.s6
          h5.white-text
            | Libraries
        div.col.14.offset-12.s6
          h5.white-text
            | Links
          ul  
            li
              a(href = "http://materializecss.com/").grey-text.text-lighten-3
                | Materialize
                a(href = "#!").grey-text.text-lighten-3
                  | Blizzard api
                a(href = "http://angularjs.org/").grey-text.text-lighten-3
                  | AngularJS
                a(href = "http://nodejs.org/").grey-text.text-lighten-3
                  | NodeJS


    include partials/home    
    include partials/strategyRoom
    include ../public/js/directives/bossStrategyTemplate
    include partials/videoModal
    include partials/roster
    
