!!!
html(ng-app="BossCollection")
    head
    meta(name="google-site-verification", content="ntzp-ob0R5GcUEbukPZE2M_4rYirDZX_Z-zYeBquu0A")
    meta(charset='utf8')
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    base(href='/')
    title BossCollection

    link(rel='stylesheet', href='js/lib/bootstrap-3.2.0/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    body
        script(src='js/lib/angular/angular.js')
        script(src='js/lib/angular/angular-resource.js')
        script(src='js/lib/angular/angular-route.js')
        script(src="js/lib/roundProgressBar/roundProgress.js")
        script(src='js/lib/jquery-2.1.1.js')
        script(src='js/lib/bootstrap-3.2.0/js/bootstrap.js')
        script(src='js/lib/bootstrap-3.2.0/js/ui-bootstrap-tpls-0.11.2.min.js')
        script(src='js/services.js')
        script(src='js/controllers.js')
        script(src='js/filters.js')
        script(src='js/directives.js')
        script(src='js/app.js')

        block body

