extends layout

block body

    header( class = "navbar navbar-inverse")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand") Boss Collection &nbsp

  
                            
    div()
       div.container
        div.row
          div.col-sm-6.col-md-4.col-md-offset-4
              div.account-wall
                
                form(class='form-signin', action='/login', method='POST')
                  input(type='text', name='username', class='form-control', placeholder='Email',required, autofocus)
                  input(type='password', name='password', class='form-control', placeholder='Password', required)
                  button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
                  span.clearfix
              a(href='/register', class='text-center new-account') Create an account
              #message
              if message
                h1.text-center.error-message #{message}

    div.footer
        div.container
            div.row.text-center
                h3
                    | Libraries used
                div.col-md-6.text-center

                    br
                    span
                        a(href = "http://getbootstrap.com/")
                            | Bootstrap
                    br
                    span
                        | Blizzard api
                div.col-md-6
                    br
                    span
                        a(a href = "https://angularjs.org/")
                            | AngularJS
                    br
                    span
                        a(a href = "http://nodejs.org/")
                            | NodeJS