.threadComments{
    overflow: scroll;
}

.commentsDialog{
    overflow: hidden;
    min-width:50%;
}

.reply{
    position: absolute;
    right:15px;
    bottom:15px;
    width: 100%;
}

.threadReply{
    
    position: absolute;
    left: 0;
    bottom:0;
    padding:0;
    background:white;
    width: 100%; 
    z-index: 1000;
}

#vertical-container{
    min-height:200px;

}

.confirmCommentDelete{
    
    position: absolute;
    left: 0;
    bottom:50%;
    padding:0;
    background:white; 
    width: 100%;
    z-index: 1000;
}  

.threadMessagePreview{
    max-width:75%;
    word-wrap: break-word;
    text-overflow: clip;
    max-height: 50%;
}