script#thread(type="text/ng-template")    
    md-content(layout = "column", flex, layout-fill)
        md-toolbar().md-scroll-shrink
                div().md-toolbar-tools
                    md-button(ng-click = "goBack()").md-icon-button
                        md-icon(md-font-library="material-icons", aria-label = "delete category") keyboard_backspace
                    | Forums
                    span(flex)
                    md-button(ng-click = "createThread()").md-icon-button
                        md-icon(md-font-library="material-icons", aria-label = "new thread") add
                        md-tooltip() Create new thread
                    md-button(ng-click = "refresh()").md-icon-button
                        md-icon(md-font-library="material-icons", aria-label = "refresh forum") refresh
                        md-tooltip() Refresh Forum data
        md-progress-linear(ng-if = "loading", md-mode="indeterminate")
        div(layout = "row", layout-align = "space-between center")
            md-input-container().md-block.md-icon-float
                label() Search
                md-icon(md-font-library="material-icons") search
                input(type = "text", ng-model = "threadSearch")
            div()
                | Sort by date
                md-button(ng-click = "orderByDateCreated()").md-icon-button
                    md-icon(md-font-library="material-icons") keyboard_arrow_up
                md-button(ng-click = "orderByDateCreatedReversed()").md-icon-button
                    md-icon(md-font-library="material-icons") keyboard_arrow_down
        md-list
                md-list-item(ng-repeat = "thread in threads | filter:threadSearch | orderBy:orderBy").md-2-line.mousePointer
                    div(layout-padding).md-list-item-text
                        h3(ng-click = "openThread(thread)")
                            {{thread.title}}
                        p(ng-click = "openThread(thread)")
                            {{thread.user}}
                        div(ng-show = "thread.user == user.name || user.rank == 4").md-secondary
                            md-button(ng-click = "deleteThread(thread)").md-icon-button
                                md-icon(md-font-library="material-icons", aria-label = "delete category") delete
                                md-tooltip() Delete thread
                            md-button(ng-click = "editThread(thread)").md-icon-button
                                md-icon(md-font-library="material-icons", aria-label = "edit category") mode_edit
                                md-tooltip() Edit thread
                    md-tooltip(style = "max-width:75%;").threadMessagePreview
                        {{thread.message}}
                    md-divider(ng-if="!$last")        
                    
        ad()