/* app css stylesheet */

body {

  padding-bottom: 70px;
}

.angular-google-map-container { height: 400px; }


#map-canvas {
    height: 400px;
    width:100%;

}

.mainJumbo{
    background-color: #069;
    color: white;
}

.requiredInfo{
    width: 400px;
}

.guildProgression{


}


