/* app css stylesheet */

body {


}

.imgContainer{
    height:705px;
    width:100%;
}

.tabHeaders a{
   color:white;
}

.angular-google-map-container { height: 400px; }


#map-canvas {
    height: 400px;
    width:100%;
}

.progress-data{

    margin-bottom:-75px;
    margin-top:65px;
}


.wodHeader{
    background-image: url("/images/expansionBanners/wodbanner.jpg");
    background-repeat: no-repeat;
    background-position: 70% 40%;
    display:block;
    color:white;
    background-size: 100%;
    height:400px;

}

.wodGradient{
    background-image: linear-gradient(#9D3A00, #CE8000);
    color:white;
}

.mopGradient{
    background-image: linear-gradient(#02403B, #019373);
    color:white;
}

.cataGradient{
    background-image: linear-gradient(#4F1F12, #D57C19);
    color:white;
}

.wotlkGradient{
    background-image: linear-gradient(#0F3352  , #2E8CD0);
    color:white;
}

.bcGradient{
    background-image: linear-gradient(#0D2A14, #718343);
    color:white;
}



.stratModal:hover{
    cursor: pointer;
}

@media (max-width: 1200px){
    h2{
        font-size: 125%;
    }
}

@media (min-width: 1200px){
    h2{
        font-size: 150%;
    }
}

.blackContainer{
    background-color: black;
    color:white!important;
}

.blackContainer .headerRow{
    border-bottom:1px solid white;
}

.blackContainer .blueLinks{
    border-bottom:1px solid white;
    color:white;
}

.headerRow{
    border-bottom:1px solid black;
}

.well{
    margin:0px;

    border: 0px;
}

.stratVideos{
    background-color: black;
    color:white!important;
}

.videoPlayer{
    width:100%;
    height:500px;
}

.lootList{
    background-color: #a335ee;
    color:white;
}

span.list-group-item{
    color:black;
}

span.list-group-item:hover{
    cursor:pointer;
}

a.bossNames{
    color:white;
}

a.lootList{
    color:white;
}

.videoModal{
    width: 100%;
    height:950px;
}

.blueLinks a{
    color:black;

}

.headerRowBlackBackground{
    border-bottom:1px solid white;
}

.blueLinks a:hover{
    color:white
}

.guildWell {
    background-color: #069;
    color:white;
}

.guildWell small{
    color:white;
}

.footer{
    background-color:black;
    color:white;
    height:100%;
}

.center{
    display: table;
    margin: 0 auto;
}

@media (max-width: 767px){
    .bcBanner{
        background-image: url("/images/expansionBanners/bc.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width:250px;
        height:125px;
        color:white;
    }

    .wodBanner{
        background-image: url("/images/expansionBanners/wod.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width:250px;
        height:125px;
        color:white;
    }

    .wotlkBanner{
        background-image: url("/images/expansionBanners/wotlk.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width:250px;
        height:125px;
        color:white;
    }

    .mopBanner{
        background-image: url("/images/expansionBanners/mop.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width:250px;
        height:125px;
        color:white;
    }

    .cataBanner{
        background-image: url("/images/expansionBanners/cata.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width:250px;
        height:125px;
        color:white;
    }
}

@media (min-width: 767px){
    .wodBanner{
        background-image: url("/images/expansionBanners/wod.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width:450px;
        height:200px;
        color:white;
    }

    .bcBanner{
        background-image: url("/images/expansionBanners/bc.png");
        background-repeat: no-repeat;
        background-size: 450px;
        width:450px;
        height:200px;
        color:white;
    }


    .wotlkBanner{
        background-image: url("/images/expansionBanners/wotlk.png");
        background-repeat: no-repeat;
        background-size: 450px;
        width:450px;
        height:200px;
        color:white;
    }

    .mopBanner{
        background-image: url("/images/expansionBanners/mop.png");
        background-repeat: no-repeat;
        background-size: 450px;
        width:450px;
        height:200px;
        color:white;
    }

    .cataBanner{
        background-image: url("/images/expansionBanners/cata.png");
        background-repeat: no-repeat;
        background-size: 450px;
        width:450px;
        height:200px;
        color:white;
    }
}


.raidHeaders{

    height:35px;
}

.mainJumbo{
    background-color: #069;
    color:white;
}

.requiredInfo{
    width: 100%;
}

.guildProgression{
    text-shadow: 1px 1px 1px #000000;


}

.shamanClassColor{

    background-color: #0070DE;
    color:white;
}

.shamanClassColor small{
    color:white;
}

.dkClassColor{

    background-color: #C41F3B;
    color:white;
}

.dkClassColor small{
    color:white;
}

.druidClassColor{

    background-color: #FF7D0A;
    color:white;
}

.druidClassColor small{
    color:white;
}

.hunterClassColor{

    background-color: #ABD473;
    color:white;
}

.hunterClassColor small{
    color:white;
}

.mageClassColor{

    background-color: #69CCF0;
    color:white;
}

.mageClassColor small{
    color:white;
}

.monkClassColor{

    background-color: #00FF96;
    color:black;
}

.monkClassColor small{
    color:black;
}
.paladinClassColor{

    background-color: #F58CBA;
    color:white;
}

.paladinClassColor small{
    color:white;
}
.priestClassColor{

    background-color: #FFFFFF;
    color:black;
}

.priestClassColor small{
    color:black;
}
.rogueClassColor{

    background-color: #FFF569;
    color:black;
}

.rogueClassColor small{
    color:black;
}
.warlockClassColor{

    background-color: #9482C9;
    color:black;
}

.warlockClassColor small{
    color:black;
}
.warriorClassColor{

    background-color: #C79C6E;
    color:white;
}

.warriorClassColor small{
    color:white;
}

