script#guildSettings(type="text/ng-template")
    div
        form(name = "editAccountForm", ng-submit = "updateGuildSettings()", layout = "column", layout-xs = "column")
            div(layout = "row", layout-xs = "column")
                div(flex, layout = "column")
                    div(flex)
                        md-input-container(flex).md-block
                            label() Logs Link
                            input(id = "uName", ng-model = "guild.logsLink")
                        
                    div(flex)
                        md-input-container(flex).md-block
                            label() Progression Link
                            input(id="battleTag", ng-model = "guild.progressionLink")                    
                    
            div(flex, ng-if = "user.guild") 
                h3 Images for homepage banner
                md-hint() Uses image url only. EG use imgur
                br
                md-button(ng-click = "addNewImage()").md-raised.md-primary
                    | Add another image
                div(ng-repeat = "imageUrl in guild.images track by $index")
                    md-card
                        md-card-content                   
                            md-input-container(flex).md-block                        
                                input(id="battleTag", ng-model = "guild.images[$index]")
                        md-card-actions
                            md-button(ng-click = "removeImage($index)").md-raised.md-primary Remove
                
                                        
            div(flex)
                div()
                    md-input-container(flex).md-block
                        md-button(type = "submit").md-primary.md-raised
                            | Save
