script#manageMembers(type="text/ng-template")    
    md-content
        section(layout="column", flex = "90")
            md-tabs(md-dynamic-height, md-border-bottom).md-background
                md-tab(label = "Officers")
                    md-content.md-padding
                        md-card
                            md-list()
                                md-list-item(ng-repeat = "member in guildMembers | filter:{rank:3}").md-1-item
                                    div(layout = "row", layout-xs = "column").md-list-item-text
                                        p(flex)
                                            {{member.user}}
                                        div(ng-if = "user.rank == 4", hide-xs ,flex, layout = "row",  layout-align = "end center").md-secondary
                                            md-button(ng-click = "demote(member)").md-primary.md-raised
                                                | Demote
                                        div(ng-if = "user.rank == 4", hide-gt-xs , flex, layout = "row",  layout-align = "end center")
                                            md-button(ng-click = "demote(member)").md-primary.md-raised
                                                | Demote
                                    md-divider(ng-if="!$last")
                md-tab(label = "Members")
                    md-content.md-padding
                        md-card
                            md-list()
                                md-list-item(ng-repeat = "member in guildMembers | filter:{rank:2}").md-1-item
                                    div(layout = "row", layout-xs = "column", layout-align = "space-between center").md-list-item-text
                                        p(flex)
                                            {{member.user}}
                                        div(ng-if = "user.rank > 2", hide-xs ,flex, layout = "row",  layout-align = "end center").md-secondary
                                            md-button(ng-if = "user.rank > 3", ng-click = "promote(member)").md-primary.md-raised
                                                | Promote
                                            md-button(ng-click = "demote(member)").md-primary.md-raised
                                                | Demote
                                        div(ng-if = "user.rank > 2", hide-gt-xs , flex, layout = "row",  layout-align = "end center")
                                            md-button(ng-if = "user.rank > 3", ng-click = "promote(member)").md-primary.md-raised
                                                | Promote
                                            md-button(ng-click = "demote(member)").md-primary.md-raised
                                                | Demote
                                    md-divider(ng-if="!$last")
                md-tab(label = "Applicants - {{guildMembers | applicants:guildMembers}}")
                    md-content.md-padding
                        md-card
                            md-list()
                                md-list-item(ng-repeat = "member in guildMembers | filter:{rank:1}").md-1-item
                                    div(layout = "row", layout-xs = "column", layout-align = "space-between center").md-list-item-text
                                        p(flex)
                                            {{member.user}}
                                        div(ng-if = "user.rank > 2", hide-xs ,flex, layout = "row",  layout-align = "end center").md-secondary
                                            md-button(ng-click = "promote(member)").md-primary.md-raised
                                                | Promote
                                        div(ng-if = "user.rank > 2", hide-gt-xs , flex, layout = "row",  layout-align = "end center")
                                            md-button(ng-click = "promote(member)").md-primary.md-raised
                                                | Promote
                                        div(ng-if = "user.rank > 2", flex, layout = "row",  layout-align = "end center")
                                            md-button(ng-click = "kick(member)").md-primary.md-raised
                                                | Kick
                                        
                                    md-divider(ng-if="!$last")
                    
                
           