script#userDisplayTemplate(type="text/ng-template")
    div(layout = "row", layout-align = "start center")
        div(layout, layout-align = "center center")
            img(ng-if = "avatarUrl != undefined", src = "{{avatarUrl}}").avatarImage
            i(ng-if = "avatarUrl == undefined", class="material-icons") account_circle
        div(layout, layout-align = "center center")
            span(style = "font-size: {{fontsize}}px").userFont
                {{ user}} 