script#userDisplayTemplate(type="text/ng-template")
    div(layout)
        div()
            img(src = "http://findicons.com/files/icons/1072/face_avatars/300/i05.png").avatarImage
        div(layout, layout-align = "center center")
            span().userFont
                {{user}}