script#userDisplayTemplate(type="text/ng-template")
    div(layout)
        div()
            img(ng-if = "avatarUrl != undefined", src = "{{avatarUrl}}").avatarImage
            i(ng-if = "avatarUrl == undefined", class="material-icons").iconHeightAdjust account_circle
        div(layout, layout-align = "center center")
            span().userFont
                {{user}}