script#attendanceStats(type="text/ng-template")
  
    md-content(id = "statsContainer")
        section(flex)
            div(layout = "column")
                div(flex)
                    md-card
                        md-card-title
                            md-card-title-text
                                h3 Weights
                        md-card-content
                            div(layout)
                                div(flex)
                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                        label() Late Weight
                                        input(type = "number", ng-model = "late")
                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                        label() Absent Weight
                                        input(type = "number", ng-model = "absent")
                                div(flex)
                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                        label() Weekly rotation
                                        input(type = "number", ng-model = "weeksCounted")
                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                        label() Raids per week
                                        input(type = "number", ng-model = "raidsPerWeek")
                                div(flex)
                                    md-hint() Defaults to today
                                    md-datepicker(ng-model = "startingDate", md-placeholder="Start Date", required).datePickerAdjust
                            div()
                                md-button(ng-click = "getAbsences()").md-raised.md-primary
                                    md-icon(md-font-library="material-icons") refresh
                                    | Update chart
                                    
                div(flex, id="container", style="")
                
            section(flex)
                md-toolbar
                    div().md-toolbar-tools
                        div(flex)
                            md-button(ng-click = "openReportModal()").md-icon-button
                                md-icon(md-font-library="material-icons") add
                                md-tooltip() Submit new report
                        div(flex, layout-align = "center center", layout)
                            h2 Reports
                        div(flex)
                            
                md-card                    
                    md-card-content
                       
                        view-absence-report
            ad(flex)
