script#attendanceStats(type="text/ng-template")
  
    md-content.autoScroll
        section(flex)
            div()
                
                div(id="container", style="")
            ad(flex)
