script#sheetsStats(type="text/ng-template")
  
    
    md-content(id = "statsContainer")
        section
            div(flex, layout = "column", layout-align = "center center").welcomeBanner
                h2
                    | Sheet Data viewer
                p()
                    | View, manage, and manipulate data from google sheets in a table format
                span()
                    md-button(ng-click = "handleAuthClick()", ng-show = "!signedIn").md-raised.md-primary Authorize
                    md-button(ng-click = "handleSignoutClick()", ng-show = "signedIn").md-raised.md-primary Remove Authorization
                br
                div(flex)
                    h3
                        | Please enter the url for your google sheet
                    md-input-container(style = "width:100%;color:#fff;")
                        label(style = "color:#fff;") Sheet URL
                        input(style = "color:#fff;", type = "text", ng-model = "sheetUrl", ng-blur = "getSheetNames()")
        section(layout layout-align = "center center")
            md-progress-circular(ng-show = "loading", md-mode="indeterminate")
            div(ng-show = "error")
                h2(style = "color:red;")
                    | {{errorMessage}}
        section(flex, ng-show = "!signedIn && !loading")
            span
                | Please authorize this app to access your google sheet.
        section(flex, ng-show = "signedIn") 
            md-toolbar()
                div(flex, layout, layout-align = "center center").md-toolbar-tools
                    h3
                        span
                            | Sheets
            md-tabs(md-dynamic-height, md-border-bottom) 
                md-tab(label="{{sheet.properties.title}}", ng-repeat = "sheet in sheets")
                    md-content().md-padding
                        div(id = "stats", layout = "column")
                            div(flex)
                                md-card
                                    md-card-title
                                        md-card-title-text
                                            h3 Config
                                            
                                            md-divider
                                    md-card-content
                                        form
                                            div(flex, layout = "row")                                    
                                                div(flex)                                        
                                                    
                                                    //- md-autocomplete(md-min-length = "0",
                                                    //-             md-item-text = "sheetName",
                                                    //-             md-selected-item = "sheetName",                                    
                                                    //-             md-search-text = "sheet",
                                                    //-             md-floating-label = "Sheet Name",
                                                    //-             md-items = "sheetName in sheetNames",                                                                                    
                                                    //-             ng-cloak,                               
                                                    //-             flex = "40") 
                                                    //-     md-item-template
                                                    //-         span(md-highlight-text = "sheetName") {{sheetName}}                                                    
                                                    
                                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                                        label() Row Start Cell
                                                        input(type = "text", ng-model = "startCell", required)
                                                    
                                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                                        label() End Column
                                                        input(type = "text", ng-model = "endColumn", required)
                                                div(flex)
                                                    //- md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                                    //-     label() Sheet Name (optional)
                                                    //-     input(type = "text", ng-model = "headerSheetName", required)
                                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                                        label() Header Row Start Cell
                                                        input(type = "text", ng-model = "headerStartCell")
                                                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                                        label() Header End Column
                                                        input(type = "text", ng-model = "headerEndColumn", required)
                                    md-card-actions
                                        md-button(ng-click = "getSheetTableData(sheet.properties.title)").md-primary.md-raised
                                            | Get Sheet Data
                    
        section(flex, ng-show = "sheetData != undefined")  
            md-toolbar()
                div(flex, layout, layout-align = "center center").md-toolbar-tools
                    h3
                        span
                            | Data
            md-card
                md-card-title
                    md-card-title-text
                        h3 {{sheetName}} Data
                        div()
                            md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                                label() Filter
                                input(type = "text", ng-model = "dataTableSort")
                        md-divider
                md-card-content(layout, layout-align = "center center")                                   
                    
                    table().table
                        tr()
                            th(ng-repeat = "header in sheetHeaders.values[0]")
                                | {{header}}
                        tr(ng-repeat = "rowValues in sheetData.values | filter:dataTableSort")
                            td(ng-repeat = "data in rowValues")
                                | {{data}}