script#absenceSubmissions(type="text/ng-template")
    md-content
        section(layout="column")
            div(flex, ng-init = "getAbsences()") 
                div(layout)
                    div(flex, layout = "column", layout-xs = "column", layout-align = "center start")
                        md-datepicker(flex, ng-model = "dayDesired", ng-change = "updateList()", md-placeholder="Enter date")
                        md-button(flex, ng-click = "getAbsences()").md-primary.md-raised
                            | Get All future Absences
                md-divider
                div(flex, layout = "column")
                    div(flex)
                        h2
                            {{currentlySelected | date: 'dddd'}}
                    
                    div(layout-gt-sm = "row")
                        md-card(flex-sm = "1", flex-md = "50", ng-repeat = "absence in absences | orderBy: 'date'")
                            md-card-content
                                h3
                                    md-icon(md-font-library="material-icons") person &nbsp
                                    {{absence.user}}
                                h4  
                                    md-icon(md-font-library="material-icons") date_range &nbsp
                                    {{formatDate(absence.date)}} - {{absence.type}}
                                p
                                    md-icon(md-font-library="material-icons") message &nbsp
                                    br
                                    {{absence.reason}}
                            md-card-actions(ng-if = "user.rank > 2 || user.name == absence.user", layout="row", layout-align="end center")
                                md-button(ng-click = "editAbsence(absence)").md-icon-button
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") mode_edit
                                    md-tooltip() Edit
                                md-button(ng-click = "deleteAbsence(absence)").md-icon-button
                                    md-icon(md-font-library="material-icons", aria-label = "delete absence") delete
                                    md-tooltip() Delete
    