script#absenceSubmissions(type="text/ng-template")   
    
    md-content()
        
        section(layout="column")
            div(flex) 
                
                div(flex, layout = "column", layout-xs = "column", layout-align = "center start")                    
                    md-fab-speed-dial(md-open = "absenceReportCtrl.abscenceTypeOpen", md-direction = "right", ng-class="absenceReportCtrl.selectedMode")
                            md-fab-trigger()
                                md-button().md-fab.md-primary
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") menu
                            md-fab-actions()
                                md-button( ng-click = "absenceReportCtrl.getUserAbsences(user.name)").md-fab.md-raised.md-mini
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") person
                            
                                md-button( ng-click = "absenceReportCtrl.getTodaysAbsences()").md-fab.md-raised.md-mini
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") today
                            
                                md-button( ng-click = "absenceReportCtrl.getAbsences()").md-fab.md-raised.md-mini
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") access_time
                                md-button(ng-click = "openReportModal()").md-fab.md-raised.md-mini                                
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") add

                    
                md-divider
                div(flex, layout = "column", layout-align = "center center")
                    
                    div()
                        md-datepicker(md-open-on-focus, flex, ng-model = "absenceReportCtrl.dayDesired", ng-change = "absenceReportCtrl.updateList()", md-placeholder="Select Date")
                        h3 OR
                        div(layout-gt-xs="row", ng-if = "!gm") 
                            
                            md-progress-circular(md-mode = "indeterminate", ng-show = "absenceReportCtrl.loading")
                            md-autocomplete(md-min-length = "0",
                                        md-item-text = "user.user",
                                        md-selected-item = "absenceReportCtrl.selectedMember.selectedMember",                                    
                                        md-search-text = "userSearch",
                                        md-floating-label = "Select User",
                                        md-items = "user in absenceReportCtrl.filterSearch(userSearch)",                                
                                        md-selected-item-change="absenceReportCtrl.updateSelectedMember(user)"
                                        flex = "40")
                                md-item-template
                                    span(md-highlight-text = "userSearch") {{user.user}}
                    div(flex)
                        h2
                            | {{absenceReportCtrl.currentlySelected | date: 'dddd'}}
                    
                    div(layout-gt-sm = "column")
                        md-card(flex-gt-md, ng-repeat = "absence in absenceReportCtrl.absences | orderBy: 'date'")
                            md-card-content
                                h3
                                    md-icon(md-font-library="material-icons") person &nbsp
                                    | {{absence.user}}                                 
                                h4  
                                    md-icon(md-font-library="material-icons") date_range &nbsp
                                    | {{absenceReportCtrl.formatDate(absence.date)}} - {{absence.type}}
                                p
                                    md-icon(md-font-library="material-icons") message &nbsp
                                    br
                                    | {{absence.reason}}
                            md-card-actions(ng-if = "isOfficer() || (user.name == absence.user && absenceReportCtrl.dateHasPassed(absence))", layout="row", layout-align="end center")
                                md-button(ng-click = "absenceReportCtrl.editAbsence(absence)").md-icon-button
                                    md-icon(md-font-library="material-icons", aria-label = "edit absence") mode_edit
                                    md-tooltip() Edit
                                md-button(ng-click = "absenceReportCtrl.deleteAbsence(absence)").md-icon-button
                                    md-icon(md-font-library="material-icons", aria-label = "delete absence") delete
                                    md-tooltip() Delete