script#home(type="text/ng-template")
  md-content
    section().wodHeader
    section(layout="column", flex = "90")
        md-tabs(md-dynamic-height, md-border-bottom).md-background
            md-tab(label = "About Us")
                md-content().md-padding
                    h2.center
                        span()
                    md-card()
                            
                        md-card-title
                            md-card-title-text
                                span()
                                    h2
                                        | General
                        md-card-content
                            
                            
                            div(layout = "row", flex)
                            p()
                                | mkdir BossCollection was founded by a core group of real-life friends 
                                | on Zul'jin with three criteria in mind. First, we wanted a guild 
                                | with early raid hours to the benefit of our careers, families and 
                                | social lives. Second, we required steady and constant progression 
                                | through relevant content. Finally, it was essential our raid 
                                | environment be positive and calm to facilitate all the hard work we 
                                | put into the content and raid team.
                            div(layout = "row", layout-xs="column")
                                div(flex = "80")
                                    div(layout = "column")
                                        div(flex)
                                            h2
                                                | Progression
                                        div(flex)
                                            div(layout, layout-xs="column")
                                                a(flex, href = "http://www.wowprogress.com/guild/us/zul-jin/mkdir+BossCollection/rating.tier17", target = "_blank").md-primary.md-raised.md-ink-ripple.md-button
                                                    h3 Highmaul
                                                    h4
                                                        | AOTC - 2/3/15
                                                a(flex, href = "http://www.wowprogress.com/guild/us/zul-jin/mkdir+BossCollection/rating.tier17", target = "_blank").md-primary.md-raised.md-ink-ripple.md-button
                                                    h3 Blackrock Foundry
                                                    h4
                                                        | AOTC - 4/16/15
                                                a(flex, href = "http://www.wowprogress.com/guild/us/zul-jin/mkdir+BossCollection/rating.tier17", target = "_blank").md-primary.md-raised.md-ink-ripple.md-button
                                                    h3 Hellfire Citadel
                                                    h4
                                                        | AOTC - 9/2/15
                                                    
                                            
                                div(layout = "row", layout-align = "end end", flex)       
                                    div()
                                        a(href='http://wowprogress.com/', target = "_blank")
                                            img(alt='WoW Guild Rankings', src='http://wowprogress.com/guild_img/1073486/out/type.site', border='0', width = "175px")
                                
                            ad()
                    
                    
            md-tab(label = "Trials")
                md-content().md-padding
                    h2.center
                        | Trial Guidelines
                    div(layout = "column", layout-xs="column")
                        md-card()
                            
                            md-card-title
                                md-card-title-text
                                    span().md-headline
                                        | Applying?
                            md-card-content
                                | Register, log in, Join Guild "mkdir bosscollection" (you should see it pop up in the drop down). 
                                | After that, click on Guild Services -> Apply to Our Guild. Fill out the form, verify your character 
                                | and realm are correct, you should see a green check mark indicating it successfully found your 
                                | character from blizzards armory. 
                        
                            
                            md-card-title
                                md-card-title-text
                                    span().md-headline
                                        | Strats
                            md-card-content
                                p
                                    | You may have used different strats in the past with other groups, but part of our 
                                    | trialing process is to see whether or not you’re willing to learn with us. We’ve figured 
                                    | out what works for our group pretty well, but once you’re promoted to raider if you’ve
                                    | got input please feel free to share with our officers (Ortharion, Ogonchó, Didimao and Claaptrap) via whisper!
                                
                        
                            md-card-title
                                md-card-title-text
                                    span().md-headline
                                        | Raid Wide Cooldowns    
                            md-card-content
                                p
                                    | During trash or boss encounters alike, do not pop the ring unless specifically instructed. 
                                    | Even in the event of a split cooldown situation, officers will handle corrections.
                        
                            md-card-title
                                md-card-title-text
                                    span().md-headline
                                        | Teamspeak    
                            md-card-content
                                p
                                    | Feel free to goof off in teamspeak during trash, but once it’s boss time keep things 
                                    | clear for raid calls. During encounters we like our TS to stay as clear and calm as possible. 
                                    | Mute your mic if you have to!
                                ad(flex)
                    
            md-tab(label = "Raiding")
                md-content().md-padding
                    h2.center
                        | Raiding
                    div(layout = "column", layout-xs="column")
                        md-card(flex)
                            
                            md-card-title
                                md-card-title-text
                                    span().md-headline
                                        | Raid Environment
                            md-card-content
                                p
                                    | One of the things that sets us apart is our raid environment. We like to keep things calm, collected and positive during raid. Yes, we still horse around a bit during trash pulls, but when it comes down to progression we're dedicated and serious. Rule number one of our raid environment is, "Don't be a dick!" We keep our raid chat and Teamspeak clear of chart-linking, e-peening, dick-measuring or anything of the like. We're out to progress as a team, so we work together and will not be at each other's throats. During boss progression attempts, our Teamspeak is reserved mainly for officers raid calling and explaining strategies. Our strategies are formulated during officer meetings after tons of research and while we value raider input via officer-whisper or raid-chat, the final word on strategies goes to our officers.
                        
                            md-card-title
                                md-card-title-text
                                    span().md-headline
                                        | Loot
                            md-card-content
                                p
                                    | Our chosen loot system is loot council. We have a panel of four officers that make up our council. There are many factors they take into consideration with their decisions, but the main three are attendance, BISs, and largest ilvl upgrade. Attendance is the number one priority of our guild at the moment. Our aim is to move into mythic HFC, so naturally attendance is extremely important to us, and to our raid team. Attendance problems will not only disqualify you from being a part of our mythic roster, but also negatively impact your ability to get upgrades in our raids. Tier gear is distributed through it's own separate system for HFC content. Our loot council uses a chart the shows which classes benefit most from their two and four set bonuses. We have chosen to stack the classes that receive the greatest benefit first, beginning with DPS classes and working out. We feel this will give our progression the best boost.
                                ad(flex)
            
        
        