<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav class="example-sidenav">

        <div class="dark-theme">

            <mat-toolbar color="primary">
                Menu
            </mat-toolbar>

        </div>
        <mat-nav-list>
            <mat-list-item routerLink="" (click)="sidenav.close()">
                <button mat-icon-button><mat-icon>home</mat-icon></button>
                <a mat-list-item > Home </a>
            </mat-list-item>

            <mat-list-item routerLink="createApplication" (click)="sidenav.close()">
                <button mat-icon-button><mat-icon>games</mat-icon></button>
                <a mat-list-item> Apply </a>
            </mat-list-item>


            <mat-list-item routerLink="viewApplications" (click)="sidenav.close()">
                <button mat-icon-button><mat-icon>view_list</mat-icon></button>
                <a mat-list-item> View Apps </a>
            </mat-list-item>

            <mat-list-item *ngIf="!loggedIn()" (click)="sidenav.close()" routerLink="login">
                <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
                <a mat-list-item> Login </a>
            </mat-list-item>

            <mat-list-item *ngIf="loggedIn()" (click)="logout()">
                <button mat-icon-button><mat-icon>exit_to_app</mat-icon></button>
                <a mat-menu-item> Logout </a>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <layout [sidenav]="sidenav"></layout>
    <div class="row center-xs setHeightToMax noPadding">
        <div class="col-xs-12 center-xs setHeightToMax noPadding">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>