<div class="row center-xs">
  <div class="row col-xs-12 center-xs">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>

  <mat-card class = "col-md-6 col-xs-12">


    <mat-card-header>

      <img mat-card-avatar src="https://us.battle.net/static-render/us/{{armoryData?.thumbnail}}" />

      <mat-card-title>{{app?.character}}</mat-card-title>
      <mat-card-subtitle>{{app?.class}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="col-xs-12 start-xs">

      <mat-list>
        <mat-list-item>
          <b>Item Level:</b>&nbsp; {{armoryData?.items.averageItemLevelEquipped}}
        </mat-list-item>

        <mat-list-item>
          <b>Current Realm:</b>&nbsp; {{app?.realm}}
        </mat-list-item>

        <mat-list-item>
          <b>Battle Tag:</b>&nbsp; {{app?.batteltag}}
        </mat-list-item>

        <mat-list-item>
          <mat-checkbox [(ngModel)]="app.aboutPage" disabled> Read About</mat-checkbox>
        </mat-list-item>

        <mat-list-item>
          <mat-checkbox [(ngModel)]="app.voiceCommunications" disabled> Voice Communications Question</mat-checkbox>
        </mat-list-item>

        <mat-list-item>
          <mat-checkbox [(ngModel)]="app.canYouMakeRaidTimes" disabled> Agreed to Raid Times</mat-checkbox>
        </mat-list-item>

        <mat-list-item>
          <b>Spec: </b>&nbsp; {{app?.spec}}
        </mat-list-item>

        <mat-list-item>
          <b>Role: </b>&nbsp; {{app?.desiredRole}}
        </mat-list-item>

        <mat-list-item>
          <b>Logs: </b>&nbsp; {{app?.logsLink}}
        </mat-list-item>

        <mat-list-item>
          <b>UI: </b>&nbsp; {{app?.uiScreenshot}}
        </mat-list-item>

      </mat-list>

      <hr/>

      <h3> Guild History </h3>
      <span> {{app?.previousGuild}} </span>

      <h3> Raid Experience </h3>
      <span> {{app?.raidExperience}} </span>

      <h3> Preparing for Encounter </h3>
      <span> {{app?.prepareForNewEncounter}} </span>

      <h3> Rotation </h3>
      <span> {{app?.rotation}} </span>

      <h3> Stat Priority </h3>
      <span> {{app?.statPriority}} </span>

      <h3> Spec Flexibility </h3>
      <span> {{app?.flexibility}} </span>

      <h3> About</h3>
      <span> {{app?.aboutYourself}} </span>

      <h3> Comments</h3>
      <span> {{app?.comments}} </span>

      <br/>

    </mat-card-content>

    <mat-card-actions>
      <a color="primary" mat-raised-button href="{{armoryUrl(app?.realm, app?.character)}}" target="_blank">Armory</a>

    </mat-card-actions>

  </mat-card>
</div>