script#reviewApplications(type="text/ng-template")
    md-content(layout-padding)
        div(layout, layout-align = "center center")
            div(layout, flex, layout-align = "center center")
                h3() From
                md-datepicker(md-open-on-focus, ng-model = "startDate", md-placeholder="Select date", ng-change = "getApplications()")
            div(layout, flex, layout-align = "center center")
                h3 To Today
        section(layout-xs="column", layout="row")
            div(flex)
                
                md-tabs(md-dynamic-height md-border-bottom)
                    md-tab(label = "New Applications")
                        md-content()
                            div(ng-show = "numOfNewApplicants == 0") 
                                h3 No New Applications 
                            md-list(layout-padding)
                                md-list-item(ng-repeat = "application in applications | filter:filterStatus('Applied') | orderBy: '-dateApplied'").md-list-item.md-whiteframe-3dp
                                    include applicationsList
                             
                    md-tab(label = "Approved") 
                        md-content()
                            md-list(layout-padding)
                                md-list-item(ng-repeat = "application in applications | filter:filterStatus('Approved') | orderBy: '-dateApplied'").md-list-item.md-whiteframe-3dp
                                    include applicationsList
                    md-tab(label = "Denied")
                        md-content()
                            md-list(layout-padding)
                                md-list-item(ng-repeat = "application in applications | filter:filterStatus('Rejected') | orderBy: '-dateApplied'").md-list-item.md-whiteframe-3dp                                                         
                                    include applicationsList
                        
                    
    ad()                    
 
        
                                        
