script#myApplications(type="text/ng-template")
    md-content(layout-padding)    
        div(layout, layout-align = "center center")
            div(layout, flex, layout-align = "center center")
                h3() From
                md-datepicker(ng-model = "startDate", md-placeholder="Select date", ng-change = "getApplications()")
            div(layout, flex, layout-align = "center center")
                h3 To Today    
        section(layout-xs="column", layout="row")
            div(flex)
                md-content()
                    div(ng-show = "numOfNewApplicants == 0") 
                        h3 No Applications Submitted 
                    md-list(layout-padding)
                        md-list-item(ng-repeat = "application in applications | filter:filterStatus('Applied') | orderBy: '-dateApplied'").md-list-item.md-whiteframe-3dp
                            div(flex, layout = "column")
                                div(flex, layout, layout-align = "center center")
                                    h3
                                        | {{application.guild}} - {{application.status}}
                                div(flex)
                                    include ../reviewApplication/applicationsList
                                div(flex)
                                    md-button(ng-click = "deleteApplication(application)").md-primary Delete

                
                    
    ad()                     
  
        
                                        
