<div class="noPadding row center-xs">
  <form [formGroup]="AccountFormGroup" class="row center-xs">

    <mat-card>

      <mat-card-title>
        <span mat-headline> Account </span>
      </mat-card-title>
      <hr/>
      <mat-card-content>

        <div class="row">

          <mat-form-field class="fullWidthField col-xs-12">
            <input matInput placeholder="User Name" name="name" formControlName="name" />
          </mat-form-field>

          <mat-form-field class="fullWidthField col-xs-12">
            <input matInput placeholder="Email" name="email" formControlName="email" />
          </mat-form-field>

          <mat-form-field class="fullWidthField col-xs-12" *ngIf = "user.guild?.name">
            <input matInput placeholder="Guild" name="Guild" formControlName="guild" />
          </mat-form-field>

        </div>

        <div class="row">

          <mat-form-field class="fullWidthField col-xs-12">
            <input matInput placeholder="Current Password" name="currentPassword" formControlName="currentPassword" />
          </mat-form-field>

          <mat-form-field class="fullWidthField col-xs-12">
            <input matInput placeholder="Change Password" name="newPassword" formControlName="newPassword" />
          </mat-form-field>

          <mat-form-field class="fullWidthField col-xs-12">
            <input matInput placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" />
          </mat-form-field>

        </div>

        <div class = "row space-between">
          <button mat-raised-button color = "primary" (click) = "changePassword()">Change Password</button>
          <button mat-raised-button color = "primary" (click) = "leaveGuild()" *ngIf = "user.guild?.name">Leave Guild</button>
        </div>

      </mat-card-content>
    </mat-card>
  </form>
</div>