script#joinGuild(type="text/ng-template")    
    md-content
        md-progress-linear(ng-show = "loading", md-mode="indeterminate")
        section(layout="column", flex = "80")
            form(ng-submit = "joinGuild()")
                div(layout="column")
                    md-input-container(flex-gt-xs = "30").md-block
                        label() User Name
                        md-icon(md-font-library="material-icons") person
                        input(ng-model = "user.name", disabled) 
                    md-autocomplete( 
                                md-item-text = "guild.name",
                                md-no-cache = "true",
                                md-selected-item = "guildName",    
                                md-selected-item-change="selectedItemChange(item)"                                
                                md-search-text = "guildSearch",
                                md-floating-label = "Select Guild",
                                md-items = "guild in filterSearch(guildSearch)") 
                        md-item-template
                            span(md-highlight-text = "guildSearch")
                                | {{guild.name}}
           
                div(layout)
                    md-input-container().md-block
                    md-button(type = "submit").md-primary.md-raised
                        | Join Guild
                br
                br
                div(layout)
                    ad(flex)