<!--The content below is only a placeholder and can be replaced.-->
<div class="dark-theme">

  <md-toolbar color="primary" class="row center-xs">

    <div class="col-xs-3 col-sm-4 hidden-xs row start-xs">
      <span *ngIf="user?.name != undefined"> Welcome {{user.name}} </span>
      <button *ngIf="user?.name == undefined" md-button routerLink=""> Home </button>
    </div>

    <div class="col-xs-3 hidden-sm hidden-md hidden-lg">

    </div>

    <div class="col-xs-6 col-sm-4 center-xs">
      <a md-button routerLink = "" style = "font-size: 20px;"> TBD </a>
    </div>

    <div class="col-xs-3 col-sm-4">

      <div class="row end-xs">
        <button *ngIf="user?.name == undefined" md-raised-button color="accent" routerLink="login"> Login </button>
        <button *ngIf="user?.name != undefined" md-raised-button color="accent" (click)="logout()"> Logout </button>
        <button *ngIf="user?.name != undefined" md-raised-button color="accent" routerLink="createApplication"> Apply </button>
      </div>

    </div>



  </md-toolbar>
</div>