<div class="row center-xs">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>No guild exist for this page yet </h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="CreateGuildFormGroup" class="row center-xs">

        <mat-form-field class = "col-xs-12 col-mat-6">
          <input matInput placeholder="Guild Name" name = "guildName" formControlName="GuildName" />
        </mat-form-field>
      </form>

      <button mat-raised-button (click) = "createGuild()"> Create Guild</button>
    </mat-card-content>
  </mat-card>
</div>