<div class="row center-xs">
  <md-card>
    <md-card-header>
      <md-card-title>
        <h2>No guild exist for this page yet </h2>
      </md-card-title>
    </md-card-header>

    <md-card-content>
      <form [formGroup]="CreateGuildFormGroup" class="row center-xs">

        <md-form-field class = "col-xs-12 col-md-6">
          <input mdInput placeholder="Guild Name" name = "guildName" formControlName="GuildName" />
        </md-form-field>
      </form>

      <button md-raised-button (click) = "createGuild()"> Create Guild</button>
    </md-card-content>
  </md-card>
</div>