script#application(type="text/ng-template")    
    md-content
        section(layout="column", flex = "80")
            form(name = "editAccountForm", ng-submit = "submitApplication()")
                div(layout)
                    md-autocomplete(md-min-length = "0",
                                md-item-text = "guild.name",
                                md-selected-item = "guildSelected",                                    
                                md-search-text = "guild",
                                md-floating-label = "Select Guild to Apply To",
                                md-items = "guild in filterGuildsSearch(guild)",
                                flex)
                        md-item-template
                            span(md-highlight-text = "guild"){{guild.name}}
                div(layout, layout-xs="column", ng-if = "guildSelected != undefined")
                    div(ng-show = "searchingForUser")
                        md-progress-linear (md-mode="indeterminate")
                    md-input-container(flex).md-block.md-icon-float
                        label() Character Name
                        md-icon(md-font-library="material-icons", ng-class = "validCharacterName ? 'characterSuccess' : 'characterError' ") {{icon}}
                            md-tooltip() ! Means your character wasn't retrieved from the server. Green check mark means success.
                        input(id = "characterNameInput", ng-model = "application.characterName", 
                            ng-blur = "validateCharactername()", required)
                        
                    md-autocomplete(md-min-length = "1",
                                    md-item-text = "realm.name",
                                    md-selected-item = "application.realm",
                                    md-selected-item-change="validateCharactername()"
                                    md-search-text = "realm",                                                                      
                                    md-floating-label = "Select Realm",
                                    md-items = "realm in filterSearch(realm)",
                                    flex,
                                    ng-blur = "validateCharactername()")
                        md-item-template
                            span(md-highlight-text = "realm"){{realm.name}}
                        div().hint Actually click/tap on the item in the dropdown
                        
                div(layout, layout-xs="column", ng-if = "guildSelected != undefined && validCharacterName")
                    md-input-container(flex).md-block
                        label() Item Level
                        input(ng-model = "application.itemLevel", required, disabled)
                    
                div(layout, layout-xs="column")
                    md-input-container(flex).md-block
                        label() Previous Guild
                        input(ng-model = "application.previousGuild", required)
                    md-input-container(flex).md-block
                        label() Desired Role
                        input(ng-model = "application.desiredRole", required)
                div(layout, layout-xs="column")
                    md-input-container(flex).md-block
                        label()
                            | Anything Else?
                        textarea(ng-model = "application.comments")
                div(layout, layout-xs="column")
                    md-progress-circular( md-mode="indeterminate", ng-if = "isLoading")
                    md-input-container().md-block
                    md-button(type = "submit").md-primary.md-raised
                            | Submit
        ad
  
