script#forum(type="text/ng-template")    
    md-content(layout = "column", flex, layout-fill)
        md-toolbar().md-scroll-shrink
            div().md-toolbar-tools
                | Strategy
                span(flex)
                md-button(ng-click = "deleteCategory($event)").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "add new forum") delete
                md-button(ng-click = "editCategory()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "add new forum") mode_edit
                md-button(ng-click = "createForum()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "add new forum") add
        md-list
            md-list-item(ng-repeat = "test in testListCount").md-2-line
                div(ng-click = "goToForum()").md-list-item-text
                    h3
                        | Forum {{test}}
                    h4
                        | Some Details
                md-divider(ng-if="!$last")
        md-toolbar().md-scroll-shrink
            div().md-toolbar-tools
                | General
                
        md-list
            md-list-item(ng-repeat = "test in testListCount").md-2-line
                div().md-list-item-text
                    h3
                        | Forum {{test}}
                    h4
                        | Some Details
                md-divider(ng-if="!$last")
    md-toolbar().md-scroll-shrink
        div().md-toolbar-tools
            md-button(ng-click = "newCategory()").md-raised
                | New Category
                            
        //input-markdown(input = "markdown")
                            