md-menu-content
    md-menu-item
        md-button(ng-click = "deleteThread(thread)")
            md-icon(md-font-library="material-icons", aria-label = "delete category") delete
            | Delete
            
    md-menu-item
        md-button(ng-click = "editThread(thread)")
            md-icon(md-font-library="material-icons", aria-label = "edit category") mode_edit
            | Edit
                                                
    md-menu-item(ng-if = "thread.sticky")
        md-button(ng-click = "stickyThread(thread)")
            md-icon(md-font-library="material-icons", aria-label = "edit category") bookmark
            | Remove Sticky
                
    md-menu-item(ng-if = "!thread.sticky")
        md-button(ng-click = "stickyThread(thread)")
            md-icon(md-font-library="material-icons", aria-label = "edit category") bookmark_border
            | Sticky