.blizzardButton{
    background-color: #0e86ca;
    border-color: #10a1de;
    color: #fff;
    font-size: 1.0625rem;

    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    font-family: Blizzard,sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    height: 2.5rem;
    line-height: 1.5;
    padding: 0 1rem;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width:120px;
    height:36px;
}

.blizzardButton:hover{
    background-color: #0e83b1;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.25);
    transition: background-color .218s,border-color .218s,box-shadow .218s; 
}

.blizzardLogo{
    width:40%;
    height:100%;
    padding-right: 5px;
}