<div class="center-xs">

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Login </h2>
      </mat-card-title>
    </mat-card-header>

    <hr />

    <div class="row ">

      <div class="col-xs-11">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <form class="row center-xs" [formGroup]="LoginForm">

          <mat-form-field class="col-xs-12">
            <input matInput placeholder="User Name" name="name" formControlName="Name" />
          </mat-form-field>

          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Password" type="password" formControlName="Password" />
          </mat-form-field>

          <div class="col-xs-12 start-xs">
            <div class="g-signin2" data-onsuccess="onsuccess"></div>
            <br />
            <button mat-raised-button (click)="login()" color="primary"> Login </button>
            <button mat-raised-button (click)="blizzardLogin()" color="primary"> Blizzard Login </button>
            <button mat-raised-button (click)="openResetEmailDialog()" color="primary"> Reset Password </button>
          </div>
        </form>
      </div>

    </div>

  </mat-card>

</div>

<script type = "text/javascript">
function onsuccess(googleUser){
  alert("Logged In");
}
</script>