script#absence(type="text/ng-template")    
    md-content.autoScroll
        section(flex = "80")
            form(ng-submit = "submitNewAbsence()")
                div(layout-gt-xs="row")
                    md-autocomplete(md-min-length = "0",
                                md-item-text = "user.user",
                                md-selected-item = "ctrl.selectedUser",                                    
                                md-search-text = "user",
                                md-floating-label = "Select User",
                                md-items = "user in filterSearch(user)",
                                ng-disabled = "user.rank < 3",
                                md-autofocus = true,
                                ng-if = "user.rank > 2"
                                flex = "40")
                        md-item-template
                            span(md-highlight-text = "user") {{user.user}}
                        
                md-datepicker(ng-model = "newAbsence.date", md-placeholder="Select date", required).datePickerAdjust
                
                div(layout-gt-xs="row").radioButtonFix
                    md-radio-group(ng-model="newAbsence.type", required)
                        md-radio-button(value="late", class="md-primary")
                            | Late
                        md-radio-button(value="absent") 
                            | Absent
                md-input-container(flex-gt-md = "70").md-block
                    label(for="reason") Reason...   
                    textarea(id = "reason", required = "required", ng-model = "newAbsence.reason")
                div(layout)
                    md-input-container().md-block
                    md-button(type = "submit").md-primary.md-raised
                            | Submit
            ad(flex)
