script#absence(type="text/ng-template")    
    md-content(layout = "column", layout-align = "center center")
        div(layout, layout-align = "center center")
            h2
                | New Report
        section(flex)
            form(ng-submit = "submitNewAbsence()")
                div(layout-gt-xs="row", ng-show = "gm || isOfficer()")
                    md-progress-circular(md-mode = "indeterminate", ng-show = "loading")
                    md-autocomplete(md-min-length = "0",
                                md-item-text = "user.user",
                                md-selected-item = "reportAbsenceCtrl.selectedUser",                                    
                                md-search-text = "userSearch",
                                md-floating-label = "Select User",
                                md-items = "user in filterSearch(userSearch)",                                
                                md-autofocus = true,
                                ng-disabled = "!gm || !isOfficer()",
                                 
                                ng-cloak,                               
                                flex = "40")
                        md-item-template
                            span(md-highlight-text = "userSearch") {{user.user}}
                        
                md-datepicker(md-open-on-focus, ng-model = "newAbsence.date", md-placeholder="Select date", required).datePickerAdjust
                
                div(layout-gt-xs="row").radioButtonFix
                    md-radio-group(ng-model="newAbsence.type", required)
                        md-radio-button(value="late", class="md-primary")
                            | Late
                        md-radio-button(value="absent") 
                            | Absent
                md-input-container(flex-gt-md).md-block
                    label(for="reason") Reason...   
                    textarea(id = "reason", required = "required", ng-model = "newAbsence.reason")
                div(layout)
                    md-input-container().md-block
                        md-button(type = "submit").md-primary.md-raised
                            | Submit
                        md-button(ng-click = "cancel()").md-primary.md-raised
                            | Cancel
            
