script#favorites(type="text/ng-template")    
    md-content(flex, aria-label = "threadTemplate")
       md-toolbar(flex).md-scroll-shrink
           div().md-toolbar-tools
      
               md-button(ng-click = "favCtrl.goBack()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "delete category") keyboard_backspace
               span(flex)
               
               md-button(ng-click = "favCtrl.refresh()").md-icon-button
                   md-icon(md-font-library="material-icons", aria-label = "refresh forum") refresh
                   md-tooltip() Refresh data

       md-progress-linear(ng-if = "favCtrl.loading", md-mode="indeterminate")
         
       div(layout = "row", layout-align = "space-between center", flex)
         
        md-input-container().md-block.md-icon-float
            label() Search
            md-icon(md-font-library="material-icons") search
            input(type = "text", ng-model = "favCtrl.threadSearch")
             
        div()        
        md-button(ng-click = "favCtrl.flipOrderBySorting()").md-primary.md-raised
            md-icon(md-font-library="material-icons") date_range
            label()
               | &nbsp {{favCtrl.orderByString}}
            
       div()
          
        md-list(layout = "column", layout-align = "center stretch", flex)          
            div(ng-repeat = "thread in favCtrl.favorites | filter:favCtrl.threadSearch | orderBy:favCtrl.orderBy", ng-class = "favCtrl.isRead(thread)", layout = "row")
            
                md-list-item(flex, ng-click = "favCtrl.openThread(thread)", layout-align = "space-between").md-2-line.mousePointer
                    div(layout-padding, layout = "column").md-list-item-text
                        div(layout-align = "space-between center", layout)
                            div(flex).threadSubject
                                | {{thread.title}}
                            div(hide-sm, hide-xs, flex)
                                    | {{favCtrl.formatDate(thread.dateCreated)}}
                        div(layout-sm = "column", layout-gt-sm = "row",  layout-align-gt-sm = "space-around center")
                            div(flex)
                                p( layout-align = "start center")                                    
                                    user-display(user = "thread.user")
                            div(flex)
                                div(layout-align = "center center")
                                    | Comments: {{thread.commentCount}}
                    md-tooltip(style = "max-width:75%;").threadMessagePreview
                        | {{thread.message}}
                        
                div( layout-align = "center center", layout)
                    md-menu(ng-if = "isOfficer")
                        md-button(ng-click = "openMenu($mdMenu, $event)").md-icon-button
                            md-icon(md-font-library="material-icons", md-menu-origin) more_vert
                        include ../menuPopup.jade 
                    md-button(ng-if = "favCtrl.isFavorite(thread)", ng-click = "favCtrl.favoriteThread(thread)").md-icon-button.md-ink-ripple
                        md-icon(md-font-library="material-icons", aria-label = "delete category").favorite favorite
                        md-tooltip() Favorite
                    md-button(ng-if = "!favCtrl.isFavorite(thread)", ng-click = "favCtrl.favoriteThread(thread)").md-icon-button.md-ink-ripple
                        md-icon(md-font-library="material-icons", aria-label = "delete category") favorite_border
                        md-tooltip() Favorite
                        
            md-divider(ng-if="!$last")