div(id="loadingModal", class="modal").loadingModal 
    div(class="modal-content").center    
        .preloader-wrapper.big.active
            .spinner-layer.spinner-blue-only
                .circle-clipper.left
                    .circle
                .gap-patch
                    .circle
                .circle-clipper.right
                    .circle
    
    