div(id="logInModal", class="modal bottom-sheet")
    div(class="modal-content")     
        div.row
            div.col.m2.s12
                a(href="#!", ng-click = "cancelNavigation()", class="right modal-action modal-close waves-effect waves-green btn-flat") Cancel
        div.row
            div.col.m12.s12
                log-in
    
    div(class="modal-footer")
     
    