.commentsInput{
    min-height:150px;
    min-width:100%;
}

.formPadding{
    padding:15px;
}

.redIcon{
    color:red;
}

.greenIcon{
    color:green;
}

.classBackgroundBase{
    width:100%; 
    background-size: cover;
    background-repeat: no-repeat;
}

.shamanBackground{
    background-image: url('../../../assets/images/classBackdrops/shaman.jpg'); 
}

.hunterBackground{
    background-image: url('../../../assets/images/classBackdrops/hunter.jpg'); 
}

.demonhunterBackground{
    background-image: url('../../../assets/images/classBackdrops/demon hunter.jpg'); 
}

.druidBackground{
    background-image: url('../../../assets/images/classBackdrops/druid.jpg'); 
}

.paladinBackground{
    background-image: url('../../../assets/images/classBackdrops/paladin.jpg'); 
}

.deathknightBackground{
    background-image: url('../../../assets/images/classBackdrops/death knight.jpg'); 
}

.monkBackground{
    background-image: url('../../../assets/images/classBackdrops/monk.jpg'); 
}

.mageBackground{
    background-image: url('../../../assets/images/classBackdrops/mage.jpg'); 
}

.priestBackground{
    background-image: url('../../../assets/images/classBackdrops/priest.jpg'); 
}

.rogueBackground{
    background-image: url('../../../assets/images/classBackdrops/rogue.jpg'); 
}

.warlockBackground{
    background-image: url('../../../assets/images/classBackdrops/warlock.jpg'); 
}

.warriorBackground{
    background-image: url('../../../assets/images/classBackdrops/warrior.jpg'); 
}

.fullWidthField{
    width:100%;
}