script#reviewApplications(type="text/ng-template")
    md-content
        section(layout-xs="column", layout="row")
            div(flex-xs, flex-gt-xs="50")
                md-card(ng-repeat = "application in applications | orderBy: '-dateApplied'")
                    md-card-header
                        md-card-header-text
                            span().md-headline
                                {{application.character.name}} - {{application.dateApplied | date: format}}
                            span().md-subhead
                                {{application.character.class}} - {{application.itemLevel}}
                            span().md-subhead
                                {{application.desiredRole}}
                            span().md-subhead
                                {{application.previousGuild}}
                    md-card-title
                        md-card-title-text.md-headline
                    md-card-content(layout, layout-align = "space-between")
                        img(src="images/classBackdrops/{{application.character.class}}.jpg").md-media-xl.card-media
                        md-card-actions(layout = "column")
                            md-button(ng-click = "openComments(application.comments)").md-icon.button
                                md-icon(md-font-library="material-icons") message
                            md-button().md-icon.button
                                md-icon(md-font-library="material-icons") call_made
                                    a(target="_blank", href = "http://us.battle.net/wow/en/character/{{application.realm.name}}/{{application.character.name}}/simple")
                    
                    
 
        
                                        