md-menu()
    md-button(aria-label = "Account options...", ng-click = "openMenu($mdOpenMenu, $event)")
        | External Links
        i(class="material-icons").iconHeightAdjust keyboard_arrow_down
    md-menu-content(width = "4")
        md-menu-item
            md-button(ng-click = "goToExternal('https://www.warcraftlogs.com/guilds/36279')")
                md-icon(md-font-library="material-icons") equalizer
                | Logs
        md-menu-item
            md-button(ng-click = "goToExternal('http://www.wowprogress.com/guild/us/zul-jin/mkdir+BossCollection')")
                md-icon(md-font-library="material-icons") trending_up
                | Progression