md-menu-item(ng-if = "loggedIn && !hasGuild()").md-no-sticky
    md-button(aria-label = "Account options...", ng-click = "goTo('/createGuild')")
        md-icon(md-font-library="material-icons") create
        | Create Guild
md-divider(ng-if = "!hasGuild() && loggedIn")
md-menu-item(ng-if = "!hasGuild() && loggedIn").md-no-sticky
    md-button(aria-label = "Account options...", ng-click = "goTo('/joinGuild')")
        md-icon(md-font-library="material-icons") home
        | Join Guild       