md-subheader(ng-if = "loggedIn", ng-if = "user.rank > 2 || !user.guild").md-no-sticky
    md-button(ng-if = "!user.guild", aria-label = "Account options...", ng-click = "goTo('/createGuild')")
        i(class="material-icons") create
        | Create Guild
md-divider
md-subheader(ng-if = "loggedIn", ng-if = "user.rank > 2 || !user.guild").md-no-sticky
    md-button(ng-if = "!user.guild", aria-label = "Account options...", ng-click = "goTo('/joinGuild')")
        i(class="material-icons") home
        | Join Guild
md-divider
md-subheader(ng-if = "loggedIn", ng-if = "user.rank > 2 || !user.guild").md-no-sticky
    md-button(ng-if = "user.rank > 2", aria-label = "Account options...", ng-click = "goTo('/manageMembers')")
        i(class="material-icons") people
        | Manage Members
        