
md-menu(ng-if = "user.guild && user.rank > 1", ng-click = "openMenu($mdOpenMenu, $event)")
    md-button(aria-label = "Account options...").menuDropdown
        | Guild
        i(class="material-icons").iconHeightAdjust keyboard_arrow_down
    md-menu-content(width = "4")
        md-menu-item(ng-if = "user.rank > 1")
            md-button(ng-click = "goTo('/auth/absence')")
                md-icon(md-font-library="material-icons") today
                | Report Absence
        md-menu-item(ng-if = "user.rank > 1")
            md-button(ng-click = "goTo('/whosOut')")
                md-icon(md-font-library="material-icons") today
                | Upcoming Absences
        md-menu-item(ng-if = "user.rank > 1")
            md-button(ng-click = "goTo('/reviewApplications')")
                md-icon(md-font-library="material-icons") inbox
                | View Applications
        md-menu-item(ng-if = "user.rank > 1")
            md-button(ng-click = "goTo('/attendanceStatistics')")
                md-icon(md-font-library="material-icons") inbox
                | Attendance Statistics

    
                    
        
                
    