md-menu
    md-button(aria-label = "Account options...", ng-click = "openMenu($mdOpenMenu, $event)")
        i(class="material-icons") account_circle
        | Guild Services
    md-menu-content(width = "4")
        md-menu-item
            md-button(ng-click = "goTo('/auth/absence')")
                md-icon(md-font-library="material-icons") today
                | Report Absence
        md-menu-item
            md-button(ng-click = "goTo('/whosOut')")
                md-icon(md-font-library="material-icons") today
                | Upcoming Absences
        md-menu-item
            md-button(ng-click = "goTo('/auth/application')")
                md-icon(md-font-library="material-icons") send
                | Apply to our Guild
        md-menu-item
            md-button(ng-click = "goTo('/reviewApplications')")
                md-icon(md-font-library="material-icons") inbox
                | View Applications
        md-menu-item
            md-button(ng-click = "goTo('/roster')")
                md-icon(md-font-library="material-icons") group
                | Guild Roster