md-sidenav( md-component-id ="left", md-is-locked-open = "$mdMedia('gt-sm')").md-sidenav.md-whiteframe-z2
    md-toolbar().md-primary
        md-list.md-primary
                md-list-item()
                    img(ng-click = "goTo('/')", src = "/images/wodLogo.png", style = "width:100%") 
                md-list-item
                    h1(ng-click = "goTo('/')").md-toolbar-tools
                        | Bosscollection 
                        i() &nbsp beta
                        
                md-list-item(ng-show = "loggedIn", ng-click = "alert('test')").md-1-line 
                    h1(ng-click = "goTo('/auth/updateAccount')").md-toolbar-tools
                        | {{user.name}}
    md-content(role = "navigation").md-primary
        md-list.md-primary
            md-subheader().md-no-sticky
                include accountMenu
            md-divider
            md-menu-item()
                md-button(ng-click = "goTo('/auth/application')")
                    md-icon(md-font-library="material-icons") send
                    | Apply to a Guild
            md-divider
            md-menu-item(ng-if = "user.rank > 1")
                md-button(ng-click = "goTo('/forum')")
                    md-icon(md-font-library="material-icons") today
                    | Forums
            md-divider
            md-subheader().md-no-sticky
                include externalMenu
            md-divider
            md-subheader(ng-if = "user.rank", ng-show = "loggedIn").md-no-sticky
                include raidMenu
            md-divider
            include guildManagement
            
                
    
        
                

