md-sidenav( md-component-id ="left", md-is-locked-open = "$mdMedia('gt-sm')").md-sidenav.md-whiteframe-z2
    md-toolbar().md-primary
        md-list.md-primary
                md-list-item()
                    img(ng-click = "goTo('/')", src = "/images/wodLogo.png", style = "width:100%") 
                md-list-item
                    h1(ng-click = "goTo('/')").md-toolbar-tools
                        | Bosscollection 
                        i() &nbsp beta
                md-list-item()
                    h1().md-toolbar-tools
                        {{user.guild.name}}                
    md-content(role = "navigation").md-primary
        md-list.md-primary(ng-if = "loggedIn")            
            md-menu-item()
                md-button(ng-click = "goTo('/')")
                    md-icon(md-font-library="material-icons") home
                    | Home
        md-list.md-primary(ng-if = "loggedIn")            
            md-menu-item(ng-if = "user.rank < 2")
                md-button(ng-click = "goTo('/auth/application')")
                    md-icon(md-font-library="material-icons") send
                    | Apply to a Guild
            md-divider
            md-menu-item(ng-if = "user.rank > 1")
                md-button(ng-click = "goTo('/forum')")
                    md-icon(md-font-library="material-icons") today
                    | Forums
            md-divider(ng-if = "!user.guild || user.rank > 2")            
            include guildManagement
            md-divider
            include raidMenu            
            md-divider
            include externalMenu
        md-list.md-primary(ng-if = "!loggedIn")
            md-menu-item()
                md-button(ng-click = "showLoginBottomSheet($event)")
                    md-icon(md-font-library="material-icons") account_circle
                    | Log In
            md-divider
            md-menu-item()
                md-button(ng-click = "goTo('auth/signup')")
                    md-icon(md-font-library="material-icons") account_circle
                    | Register
            
            
                
    
        
                

