script#absenceSubmissions(type="text/ng-template")
    md-content
        section(layout="column", flex = "80")
            div(ng-init = "getAbsences()") 
                div(layout)
                    div(flex, layout = "row", layout-xs = "column", layout-align = "space-between center")
                        md-datepicker(flex, ng-model = "dayDesired", ng-change = "updateList()", md-placeholder="Enter date")
                        md-button(flex, ng-click = "getAbsences()").md-primary.md-raised
                            | Get All future Absences
                div(layout = "column")
                    div(flex)
                        h2
                            {{currentlySelected | date: 'dddd'}}
                    
                    md-list(flex)
                        md-list-item(ng-repeat = "absence in absences | orderBy: 'date'").md-3-line
                            div(layout = "column").md-list-item-text
                                h3  
                                    md-icon(md-font-library="material-icons") person
                                    {{absence.user}}
                                
                                h4 
                                    md-icon(md-font-library="material-icons") date_range
                                    {{absence.type}} - {{absence.date | date: 'EEEE, MMM d'}}
                                p 
                                    md-icon(md-font-library="material-icons") message
                                    {{absence.reason}}
                            md-divider
    