script#absence(type="text/ng-template")    
    md-content.autoScroll
        section(flex = "80")
            form(ng-submit = "submitNewAbsence()")
                div(layout-gt-xs="row")
                    md-input-container(flex-gt-xs = "30").md-block.md-icon-float
                        label() User Name
                        md-icon(md-font-library="material-icons").name person
                        input(type = "text", ng-model = "user.name", disabled).floatingLableFix
                    
                md-datepicker(ng-model = "newAbsence.date", md-placeholder="Enter date", required).datePickerAdjust
                
                div(layout-gt-xs="row").radioButtonFix
                    md-radio-group(ng-model="newAbsence.type", required)
                        md-radio-button(value="late", class="md-primary")
                            | Late
                        md-radio-button(value="absent") 
                            | Absent
                md-input-container(flex-gt-md = "70").md-block
                    label(for="reason") Reason...   
                    textarea(id = "reason", required = "required", ng-model = "newAbsence.reason")
                div(layout)
                    md-input-container().md-block
                    md-button(type = "submit").md-primary.md-raised
                            | Submit
            ad(flex)
