script#absenceSubmissions(type="text/ng-template")
    md-content
        section(layout="column", flex = "80")
            div(ng-init = "getAbsences()")
                md-fab-toolbar(md-open = "toolbar.isOpen", md-direction = "toolbar.Direction")
                    md-fab-trigger().align-with-text
                        md-button().md-fab.md-primary
                            md-icon(md-font-library="material-icons") menu
                        {{currentlySelected}}
                    md-toolbar
                        md-fab-actions().md-toolbar-tools
                            md-button(ng-click = "showToday()").md-primary                                
                                | Today 
                        
                            md-button(ng-click = "showTuesday()").md-primary
                                | Tuesday 
                        
                            md-button(ng-click = "showWednesday()").md-primary
                                | Wednesday
                        
                            md-button(ng-click = "showThursday()").md-primary
                                | Thursday 
                
                    
                md-list()
                    md-list-item(ng-repeat = "absence in absences | orderBy: 'date'").md-3-line
                        div(layout = "column").md-list-item-text
                            h3  
                                md-icon(md-font-library="material-icons") person
                                {{absence.user}}
                            
                            h4 
                                md-icon(md-font-library="material-icons") date_range
                                {{absence.type}} - {{absence.date | date: 'EEEE, MMM d'}}
                            p 
                                md-icon(md-font-library="material-icons") message
                                {{absence.reason}}
                        md-divider
//-
      div(ng-init = "getAbsences()").container        
        div.card            
            
            div.row.card-content
                div.row
                    div.col.s12
                        h1.center-align
                            | Absences
                    hr
                div.row
                    div(ng-show = "loading")
                        div.progress
                            div.indeterminate              
                    div(id="raiders").col.s12
                        div
                            div(ng-repeat = "absence in absences | orderBy: 'date'").card.blue
                                div.row
                                    div.col.s12.center-align
                                        h4.title
                                            {{absence.user}}
                                
                                div.row
                                    div.col.s4
                                        h5
                                            | Date
                                        br
                                        p
                                            {{absence.date | date: 'EEEE, MMM d'}}
                                    div(ng-show = "absence.late").col.s4
                                        h5
                                            | Type
                                        br
                                        p
                                            | Late
                                    div(ng-show = "absence.absent").col.s4
                                        h5
                                            | Type: 
                                        br
                                        p
                                            | Absent
                                    div.col.s4
                                        h5
                                            | Reason
                                        br
                                        p
                                            {{absence.reason}}
                                    
            div.row()
                ins(class="adsbygoogle",
                style="display:block;padding-top:75px",
                data-ad-client="ca-pub-4895481554192451",
                data-ad-slot="4790584276",
                data-ad-format="auto")    
                                            