script#absence(type="text/ng-template")    
    md-content
        
        section(layout="column", flex = "80")
            form(ng-submit = "submitNewAbsence()")
                div(layout-gt-xs="row")
                    md-input-container(flex-gt-xs = "30").md-block
                        label() User Name
                        md-icon(md-font-library="material-icons") person
                        input(ng-model = "user.name", disabled)
                    
                md-datepicker(ng-model = "newAbsence.date", md-placeholder="Enter date", required).datePickerAdjust
                
                div(layout-gt-xs="row").radioButtonFix
                    md-radio-group(ng-model="newAbsence.type", required)
                        md-radio-button(value="late", class="md-primary")
                            | Late
                        md-radio-button(value="absent") 
                            | Absent
                md-input-container(flex-gt-md = "70").md-block
                    label(for="reason") Reason...   
                    textarea(id = "reason", required = "required", ng-model = "newAbsence.reason")
                div(layout)
                    md-input-container().md-block
                    md-button(type = "submit").md-primary.md-raised
                            | Submit
                br
                br
                div(layout)
                    ad(flex)
//-
    div.container
        div.card
            h4
                | Missing raid or going to be late? Let us know.
            div()
                form(ng-submit = "submitNewAbsence()")
                    div(layout, layout-align = "space-around center")
                        div()
                            md-input-container
                                label Title
                                input(ng-model="user.name", disabled)
                                    
                                
                           
                        div()
                            md-input-container
                                label(for="date").active Date
                                input(id="date", type = "date", required = "required", ng-model = "newAbsence.date").datepicker
                    div(layout)
                        div()
                            label(for="reason") Late or Absent?
                            md-radio-group(ng-model="newAbsence.type", required = "required")
                                md-radio-button(value="late", class="md-primary")
                                    | Late
                                md-radio-button(value="absent") 
                                    | Absent
                            
                    
                    md-input-container.md-block
                        label(for="reason") Reason...   
                        textarea(id = "reason", required = "required", ng-model = "newAbsence.reason")
                              
                    
                    div
                        button(type="submit")#btn-login.btn.btn-primary
                            i.icon-lock.icon-white
                            | Submit
                            