script#category(type="text/ng-template")
    md-dialog(layout = "column", aria-label = "categoryEdit").md-list.md-has-header.modalPadding
        div(layout, layout-align = "center center")
            h4
                | Category
        div()
            form(name = "logInForm")
                div(layout = "row")
                    md-input-container(flex).md-block
                        label() Category Name
                        input(ng-model = "object.name", required)
                h3
                    | Who can view this category?
                div()
                    h3
                        | {{visiblityStatement}} 
                span()
                    | All permissions are inherited by forums within this category.

                
                div(layout = "column")
                    br
                    md-radio-group(ng-model = "selectedPermission", ng-change = "getVisibilityStatement()")
                        md-radio-button(value="Officer", class="md-primary")
                            | Officer
                        md-radio-button(value="Raider", class="md-primary")
                            | Raider
                        md-radio-button(value="Members", class="md-primary")
                            | Members          
                        md-radio-button(value="Public", class="md-primary")
                            | Public          
                    div(ng-if = "selectedPermission != 'Public'")
                        h3 Minimum {{selectedPermission}} rank
                        span() Current Rank: {{object.permissions.minRank}}
                        br
                        br
                        md-input-container(ng-if = "selectedPermission == 'Members'")
                            label Minimum Rank
                            md-select(ng-model = "dontcare", ng-change = "getVisibilityStatement()")
                                md-option(ng-click = "setSelectedRank(rank)", ng-repeat = "rank in user.guild.ranks | orderBy: 'rank'")
                                    | {{rank.rank}}: {{rank.name}}
                        md-input-container(ng-if = "selectedPermission != 'Members'")
                            label Minimum Rank
                            md-select(ng-model = "dontcare", ng-change = "getVisibilityStatement()")
                                md-option(ng-click = "setSelectedRank(rank)", ng-repeat = "rank in user.guild.ranks | orderBy: 'rank' | filter: selectedPermission")
                                    | {{rank.rank}}: {{rank.name}}
                    
  
                div(layout = "row", layout-align = "space-around center")
                    md-input-container().md-block
                        md-button(ng-disabled = "loading", ng-click = "saveCategory()").md-primary.md-raised
                            | Save
                    md-input-container().md-block
                        md-button(ng-click = "cancel()").md-primary.md-raised
                            | Cancel
