script#category(type="text/ng-template")
    md-dialog(layout = "column", aria-label = "categoryEdit").md-list.md-has-header.modalPadding
        div(layout, layout-align = "center center")
            h4
                | Category
        div()
            form(name = "logInForm")
                div(layout = "row")
                    md-input-container(flex).md-block
                        label() Category Name
                        input(ng-model = "object.name", required)
                h3
                    | Who can view this category?
                span()
                    | All permissions are inherited by forums within this category. 
                md-divider
                div(layout = "column")
                    md-switch(aria-label="officer switch", ng-model="object.permissions.officer").md-primary
                        | Officer
                    md-switch(aria-label="raider switch", ng-model="object.permissions.raider").md-primary
                        | Raider
                    md-switch(aria-label="public switch", ng-model="object.permissions.public").md-primary
                        | Public
                    h3 Minimum access rank
                    span() Current Rank - {{object.permissions.minRank}}
                    md-input-container
                        label Minimum Rank
                        md-select(ng-model = "dontcare")
                            md-option(ng-click = "setSelectedRank(rank)", ng-repeat = "rank in user.guild.ranks | orderBy: 'rank'")
                                {{rank.rank}}: {{rank.name}}
  
                div(layout = "row", layout-align = "space-around center")
                    md-input-container().md-block
                        md-button(ng-disabled = "loading", ng-click = "saveCategory()").md-primary.md-raised
                            | Save
                    md-input-container().md-block
                        md-button(ng-click = "cancel()").md-primary.md-raised
                            | Cancel
               
            