script#threadEdit(type="text/ng-template")
    md-dialog(layout = "column", aria-label = "threadEdit").md-list.md-has-header.commentsDialog
        md-toolbar()
            div(layout).md-toolbar-tools
                span(ng-if = "object.forumID")
                    | Edit Thread
                span(ng-if = "!object.forumID")
                    | Create Thread
                span(flex)
                md-button(ng-click = "cancel()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "edit category") close
        div().editThreadScrollFix
            form(name = "editThread")
                div(layout = "column")
                    md-input-container(flex).md-block
                        label() Thread Name
                        input(ng-model = "object.title", required)        
                    div(ng-if = "!object.threadId")
                        input-markdown(flex, input = "object.message")
                div(layout = "row", layout-align = "space-around center")
                    md-input-container().md-block
                        md-button(ng-if = "!object.forumID", ng-click = "saveThread()").md-primary.md-raised
                            | Post
                        md-button(ng-if = "object.forumID", ng-click = "saveThread()").md-primary.md-raised
                            | Save
                    md-input-container().md-block
                        md-button(ng-click = "cancel()").md-primary.md-raised
                            | Cancel
               
            