script#threadComments(type="text/ng-template")
    md-dialog(layout = "column").md-list.md-has-header.commentsDialog
        md-toolbar()
            div(layout).md-toolbar-tools
                {{object.title}}
                span(flex)
                md-button(ng-click = "cancel()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "edit category") close
        div().threadComments
            md-card
                md-card-title
                    md-card-title-text
                        h3
                            {{object.user}}
                md-divider
                md-card-content
                    p
                        display-markdown(markdown = "object.message") 
                    div(flex, layout = "row", layout-align = "end center")
                        md-button(ng-click = "editForum(forum)").md-icon-button
                            md-icon(md-font-library="material-icons", aria-label = "edit category") mode_edit
                        
                    md-divider() 
                    div(flex, layout = "column", ng-if = "replying")
                        div(flex, layout = "row",  layout-align="end center")
                            md-button(flex, ng-click = "saveComment()").md-raised.md-primary
                                | Save
                            md-button(flex, ng-click = "cancelComment()").md-raised.md-primary
                                | Cancel
                        div(flex)
                            input-markdown(flex, input = "object.newComment")
                    md-card(ng-repeat = "comment in object.comments").md-whiteframe-10dp
                        md-card-content
                            div(layout = "column")
                                div(flex).md-list-item-text
                                    h3
                                        {{comment.user}}
                                    md-divider
                                            display-markdown(markdown = "comment.message")
                                div(flex, layout = "row", layout-align = "end center")
                                    md-button(ng-click = "deleteForum(forum)").md-icon-button
                                        md-icon(md-font-library="material-icons", aria-label = "delete category") delete
                                    md-button(ng-click = "editForum(forum)").md-icon-button
                                        md-icon(md-font-library="material-icons", aria-label = "edit category") mode_edit
                                
                            
                        md-list-item(style = "height = 50px;")
        
        md-button(ng-click = "openCommentBox()", ng-if = "!replying", aria-label = "reply", layout-align = "end center").md-fab.md-primary.reply
            md-icon(md-font-library="material-icons", aria-label = "edit category") reply
        
                                    
                                
                                