script#threadEdit(type="text/ng-template")
    md-dialog(layout = "column").md-list.md-has-header
        div(layout, layout-align = "center center")
            h4
                | Thread
        div()
            form(name = "logInForm")
                div(layout = "column")
                    md-input-container(flex).md-block
                        label() Thread Name
                        input(ng-model = "object.name", required)        
                    div(ng-if = "!object.threadId")
                        input-markdown(flex, input = "object.message")
                div(layout = "row", layout-align = "space-around center")
                    md-input-container().md-block
                        md-button(ng-click = "saveThread()").md-primary.md-raised
                            | Save
                    md-input-container().md-block
                        md-button(ng-click = "cancel()").md-primary.md-raised
                            | Cancel
               
            