extends layout

block body
    section(ng-controller = "navbar",layout = "row", flex)
        include indexViews/sideNav
                    
        div(layout = "column", flex)
            md-toolbar
                div().md-toolbar-tools
                    md-button(hide-gt-sm, aria-label = "settings", ng-click = "toggle()").md-icon-button
                        i(class = "material-icons") menu
                    div(layout = "row", flex)
                        h2
                            | {{title}}
                        span(flex)
                    
            
            md-content(flex, layout-padding).contentBackgroundImage
                div(ng-view)     
        
    
    //-
        footer.page-footer.transparent
        div.container.transparent
            div.col.16.s6
            h5.white-text
                | Libraries
            div.col.14.offset-12.s6          
            div.collection
                a(href = "http://materializecss.com/", class = "waves-effect waves-light collection-item btn")
                    | Materialize
                a(href = "#!", class = "waves-effect waves-light collection-item btn")
                    | Blizzard api
                a(href = "http://angularjs.org/", class = "waves-effect waves-light collection-item btn")
                    | AngularJS
                a(href = "http://nodejs.org/", class = "waves-effect waves-light collection-item btn")
                    | NodeJS
                a(href = "https://github.com/chanpod/bossCollection", class = "waves-effect waves-light collection-item btn")
                    | Issues? Report them on github 


    include partials/home    
    include partials/strategyRoom
    include ../public/js/directives/bossStrategyTemplate
    include partials/videoModal
    include partials/roster
    include partials/accounts/login
    include partials/accounts/signup
    include partials/absence/absence
    include partials/absence/absenceSubmissions
    include partials/forums/forum
    include partials/accounts/editAccount
    include partials/applications/application
    include partials/applications/reviewApplications
    
    include modals/logInModal
    include modals/loadingModal
