extends layout

block body
    section(ng-controller = "navbar", layout = "row", flex, ng-cloak, md-swipe-right = "openSideBar('left')", md-swipe-left = "closeSideBar('left')")
        include indexViews/sideNav
                    
        div(layout = "column", flex)
            md-toolbar().md-accent.md-whiteframe-3dp
                div().md-toolbar-tools
                    md-button(hide-gt-sm, aria-label = "settings", ng-click = "toggle()").md-icon-button
                        i(class = "material-icons") menu
                    div(flex, layout-align = "center center", layout)
                        div(flex)
                            h2()
                                | {{title}}
                    div(flex, hide-xs, layout-align = "center center", layout)
                        h2
                            | {{user.guild.name}}
                    span(flex)
                        md-menu(flex, layout-align = "end center", layout)
                            md-button(aria-label = "Account options...", ng-click = "openMenu($mdOpenMenu, $event)")
                                i(class="material-icons").iconHeightAdjust account_circle
                                &nbsp {{user.name}}
                                i(class="material-icons").iconHeightAdjust keyboard_arrow_down
                            md-menu-content(width = "4")                                
                                md-menu-item(ng-show = "loggedIn")
                                    md-button(ng-click = "goTo('/auth/updateAccount')")
                                        md-icon(md-font-library="material-icons") mode_edit
                                        | Update
                                md-menu-item(ng-show = "loggedIn")
                                    md-button(ng-click = "logout()")
                                        md-icon(md-font-library="material-icons") exit_to_app
                                        | Logout
                                md-menu-item(ng-show = "!loggedIn")
                                    md-button(ng-click = "showLoginBottomSheet($event)")
                                        | Log In
                                    //md-button(ng-click = "goTo('auth/login')")
                                        | Log In
                                md-menu-item(ng-show = "!loggedIn")
                                    md-button(ng-click = "goTo('auth/signup')")
                                        | Register
                   
                            
                    
            
            md-content(layout, flex)
                
                div(id = "ngView", flex, ng-view).slide   

    include ../public/components/home/home    
    
    
    include partials/accounts/login
    include partials/accounts/signup

    
    include partials/accounts/editAccount
    include ../public/components/guild/applications/application
    include ../public/components/guild/applications/reviewApplications
    include ../public/components/guild/createGuild/createGuild
    include ../public/components/guild/joinGuild/joinGuild
    include ../public/components/guild/manageMembers/manageMembers
    
    //-Forum
    include ../public/components/forums/forumTemplate
    include ../public/components/forums/threads/threadTemplate
    include ../public/components/forums/bottomSheetViews/category
    include ../public/components/forums/bottomSheetViews/forumEdit
    
    include ../public/components/forums/bottomSheetViews/threadEdit
    include ../public/components/forums/comments/commentsTemplate
    
    //-Absence
    include ../public/components/attendance/attendanceStatistics/attendanceStatsTemplate
    include ../public/components/attendance/reportAbsence/absence
    include ../public/components/attendance/viewReports/absenceSubmissions
    include ../public/components/attendance/editAbsenceModal
    
    include ../public/js/directives/inputMarkdown/inputMarkdownTemplate
    include ../public/js/directives/displayMarkdownText/template
    
    include modals/logInModal
    include modals/reset-password
    include modals/loadingModal
