extends layout

block body
    section(ng-controller = "navbar", layout = "row", flex, ng-cloak, md-swipe-right = "openSideBar('left')", md-swipe-left = "closeSideBar('left')")
        include indexViews/sideNav
                    
        div(layout = "column", flex)
            md-toolbar().md-accent.md-whiteframe-3dp
                div().md-toolbar-tools
                    md-button(hide-gt-sm, aria-label = "settings", ng-click = "toggle()").md-icon-button
                        i(class = "material-icons") menu
                    div(flex = "70")
                        h2
                            | {{title}}
                    span(flex)
                        a(href = "https://github.com/chanpod/bossCollection", target = "_blank")    
                            span(flex, class="mega-octicon octicon-mark-github")
                    
            
            md-content(layout, flex)
                div(flex, ng-view)    

    include partials/home    
    include partials/strategyRoom
    
    include partials/videoModal
    
    include partials/accounts/login
    include partials/accounts/signup

    
    include partials/accounts/editAccount
    include partials/applications/application
    include partials/applications/reviewApplications
    include partials/guildManagement/createGuild
    include partials/guildManagement/joinGuild
    include partials/guildManagement/manageMembers
    
    //-Forum
    include ../public/components/forums/forumTemplate
    include ../public/components/forums/threads/threadTemplate
    include ../public/components/forums/bottomSheetViews/category
    include ../public/components/forums/bottomSheetViews/forumEdit
    include ../public/components/forums/bottomSheetViews/thread
    include ../public/components/forums/bottomSheetViews/threadEdit
    
    //-Absence
    include ../public/components/attendance/attendanceStatistics/attendanceStatsTemplate
    include ../public/components/attendance/reportAbsence/absence
    include ../public/components/attendance/viewReports/absenceSubmissions
    include ../public/components/attendance/editAbsenceModal
    
    include ../public/js/directives/inputMarkdown/inputMarkdownTemplate
    include ../public/js/directives/displayMarkdownText/template
    
    include modals/logInModal
    include modals/reset-password
    include modals/loadingModal
