extends layout

block body
  div(ng-controller = "navbar")
    ul(id="userDropdown", class = "dropdown-content")
      li
        a(href="/auth/updateAccount", class = "waves-effect waves-light") Edit 
      li()
        a(href="#!", class = "waves-effect waves-light", ng-click = "logout()") Logout
      
      
    ul(id="userDropdownMobile", class = "dropdown-content")
      li
        a(href="/auth/updateAccount", class = "waves-effect waves-light") Edit 
      li()
        a(href="#!", class = "waves-effect waves-light", ng-click = "logout()") Logout
        
    ul(id="raidDropdownNavbar", class = "dropdown-content")
        li
            a(href="#!", class = "waves-effect waves-light") Report Absence 
        li
            a(href="#!", class = "waves-effect waves-light") Who's out
        li
            a(href="/reviewApplications", class = "waves-effect waves-light") Applications
            
    ul(id="raidDropdownNavbarMobile", class = "dropdown-content")
        li
            a(href="#!", class = "waves-effect waves-light") Report Absence (not working)
        li
            a(href="#!", class = "waves-effect waves-light") Who's out (not working)
        li
            a(href="/reviewApplications", class = "waves-effect waves-light") Applications
    nav(class = "transparent")
      div(class = "nav-wrapper")
        a(href="/", class = "brand-logo waves-effect waves-light") BossCollection
        a(href="#", data-activates="sideNavMobile", class="button-collapse")
            i(class="material-icons") menu
            
        ul(class="center hide-on-med-and-down")
          li
            a(href = "https://www.warcraftlogs.com/guilds/36279", class = "waves-effect waves-light") Logs
          li
            a(href="http://bosscollection.enjin.com/forum", class = "waves-effect waves-light") Forums
          li
            a(href="http://www.wowprogress.com/guild/us/zul-jin/mkdir+BossCollection", class = "waves-effect waves-light")
              | Progression 
          li
            a(href="/roster", class = "waves-effect waves-light") Guild Roster
          li
            a(href="/auth/application", class = "waves-effect waves-light") Apply
          li                     
            a(ng-show = "loggedIn", data-activates = "userDropdown", class = "waves-effect waves-light dropdown-button")
              | {{user.name}}
              i(class = "material-icons right") arrow_drop_down
            a(ng-show = "!loggedIn", href="/auth/login", class = "waves-effect waves-light") Login
          li
            a(ng-show = "loggedIn", data-activates = "raidDropdownNavbar", class = "waves-effect waves-light dropdown-button") Raid Tools
                i(class = "material-icons right") arrow_drop_down
        ul(id = "sideNavMobile", class = "side-nav")
          li
            a(href="https://www.warcraftlogs.com/guilds/36279", class = "waves-effect waves-light") Logs
          li
            a(href="http://bosscollection.enjin.com/forum", class = "waves-effect waves-light") Forums
          li
            a(href="/roster", class = "waves-effect waves-light") Guild Roster
          li
            a(ng-show = "!loggedIn", href="/auth/login", class = "waves-effect waves-light") Login
            a(ng-show = "loggedIn", data-activates = "userDropdownMobile", class = "waves-effect waves-light dropdown-button")
              | {{user.name}}
              i(class = "material-icons right") arrow_drop_down
          li
            a(ng-show = "loggedIn", data-activates = "raidDropdownNavbarMobile", class = "waves-effect waves-light dropdown-button")
              | Raid Tools
              i(class = "material-icons right") arrow_drop_down
          //-li
            a(data-activates = "userDropdownMobile", class = "waves-effect waves-light dropdown-button")
              | Strategy Room
              i(class = "material-icons right") arrow_drop_down
            
    div(ng-view)     
    
    
    footer.page-footer.transparent
      div.container.transparent
        div.col.16.s6
          h5.white-text
            | Libraries
        div.col.14.offset-12.s6          
          div.collection
              a(href = "http://materializecss.com/", class = "waves-effect waves-light collection-item btn")
                | Materialize
              a(href = "#!", class = "waves-effect waves-light collection-item btn")
                | Blizzard api
              a(href = "http://angularjs.org/", class = "waves-effect waves-light collection-item btn")
                | AngularJS
              a(href = "http://nodejs.org/", class = "waves-effect waves-light collection-item btn")
                | NodeJS


    include partials/home    
    include partials/strategyRoom
    include ../public/js/directives/bossStrategyTemplate
    include partials/videoModal
    include partials/roster
    include partials/accounts/login
    include partials/accounts/signup
    include partials/forums/forum
    include partials/accounts/editAccount
    include partials/applications/application
    include partials/applications/reviewApplications
    
    include modals/logInModal
