script#editAccount(type="text/ng-template")
    div
        form(name = "editAccountForm", ng-submit = "updateAccount()", layout = "column", layout-xs = "column")
            div(layout = "row", layout-xs = "column")
                div(flex, layout = "column")
                    div(flex)
                        md-input-container(flex).md-block
                            label() Username
                            input(id = "uName", ng-model = "user.name", disabled)
                        
                    div(flex)
                        md-input-container(flex).md-block
                            label() Email
                            input(id="battleTag", ng-model = "user.email")
                    div(flex)
                        md-input-container(flex).md-block
                            label() Current Password
                            input(id="password", type = "password", ng-model = "user.currentPassword", name = "password", required)
                            
                    div(flex)
                        md-input-container(flex).md-block
                            label() New Password
                            input(id="newPassword", type = "password", ng-model = "user.newPassword")
                            
                    div(flex)
                        md-input-container(flex).md-block
                            label() Verify Password
                            input(id="password_validate", type = "password", ng-model = "user.passwordVerify")
                    
                div(flex, ng-if = "user.guild")
                    md-input-container(flex).md-block
                        label() Battle Tag
                        input(id="battleTag", ng-model = "user.battleTag")
                    md-input-container(flex).md-block
                        label() Avatar
                        input(id="battleTag", ng-model = "user.avatarUrl")
                        md-hint() Uses image url only. EG use imgur
                    div(ng-if = "user.avatarUrl != undefined")
                        h3 Avatar Preview
                        img(src = "{{user.avatarUrl}}").avatarImage
                    md-list
                        md-subheader().md-no-sticky
                            | Guilds
                        md-list-item().secondary-button-padding.md-2-line
                            md-button(ng-click = "leaveGuild()").md-secondary.md-raised Leave Guild
                            div().md-list-item-text
                                {{user.guild.name}}
                        md-divider
            div(flex)
                div()
                    md-input-container(flex).md-block
                        md-button(type = "submit").md-primary.md-raised
                            | Save
