script#editAccount(type="text/ng-template")    
    div.container
        div.card
            h4
                | Edit your settings
            div.row
                form( ng-submit = "updateAccount()").col.s12                
                    div.row
                        div.col.s6.input-field                    
                            i(class="material-icons prefix") label        
                            input(placeholder = "User Name", type = "text", id = "uName", class = "validate", required = "required", ng-model = "user.name", disabled)
                            label(for = "uName") User Name
                        div.col.s6.input-field
                            
                            input(placeholder = "Battle Tag", id="battleTag", type = "text", class = "validate", ng-model = "user.battleTag")
                            label(for="battleTag") Battle Tag
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") email
                            input(id = "email", placeholder = "Email", type = "email", required = "required", ng-model = "user.email", ng-touched)
                            label(for="email", class = "active", ng-touched).active Email     
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") lock
                            input(id = "password", type = "password", class = "validate", required = "required", ng-model = "user.currentPassword")
                            label(for="password") Current Password (required to change settings)
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") lock
                            input(id = "password", type = "password", ng-model = "user.newPassword")
                            label(for="password") New Password
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") lock
                            input(id = "password_validate", type = "password",  ng-model = "user.passwordVerify")
                            label(for="password_validate") Verify Password
                    div.row
                        div.s6.col
                            button(type="submit")#btn-login.btn.btn-primary
                                i.icon-lock.icon-white
                                | Save
                            