script#editAccount(type="text/ng-template")
    div
        form(name = "editAccountForm", ng-submit = "updateAccount()")
            div(layout)
                md-input-container(flex).md-block
                    label() Username
                    input(id = "uName", ng-model = "user.name", disabled)
                md-input-container(flex).md-block
                    label() Battle Tag
                    input(id="battleTag", ng-model = "user.battleTag")
            div(layout)
                md-input-container(flex).md-block
                    label() Email
                    input(id="battleTag", ng-model = "user.email")
            div(layout)
                md-input-container(flex).md-block
                    label() Current Password
                    input(id="password", type = "password", ng-model = "user.currentPassword", name = "password", required)
                    
            div(layout)
                md-input-container(flex).md-block
                    label() New Password
                    input(id="newPassword", type = "password", ng-model = "user.newPassword")
                     
            div(layout)
                md-input-container(flex).md-block
                    label() Verify Password
                    input(id="password_validate", type = "password", ng-model = "user.passwordVerify")
            div(layout)
                md-input-container(flex).md-block
                    md-button(type = "submit").md-primary.md-raised
                        | Save
//-
    div.container
        div.card
            h4
                | Edit your settings
            div.row
                form( ng-submit = "updateAccount()").col.s12                
                    div.row
                        div.col.s6.input-field                    
                            i(class="material-icons prefix") label        
                            input(placeholder = "User Name", type = "text", id = "uName", class = "validate", required = "required", ng-model = "user.name", disabled)
                            label(for = "uName") User Name
                        div.col.s6.input-field
                            
                            input(placeholder = "Battle Tag", id="battleTag", type = "text", class = "validate", ng-model = "user.battleTag")
                            label(for="battleTag").active Battle Tag
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") email
                            input(id = "email", placeholder = "Email", type = "email", required = "required", ng-model = "user.email", ng-touched)
                            label(for="email", class = "active", ng-touched).active Email     
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") lock
                            input(id = "password", type = "password", class = "validate", required = "required", ng-model = "user.currentPassword")
                            label(for="password") Current Password (required to change settings)
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") lock
                            input(id = "password", type = "password", ng-model = "user.newPassword")
                            label(for="password") New Password
                    div.row
                        div.col.s12.input-field
                            i(class="material-icons prefix") lock
                            input(id = "password_validate", type = "password",  ng-model = "user.passwordVerify")
                            label(for="password_validate") Verify New Password
                    div.row
                        div.s6.col
                            button(type="submit")#btn-login.btn.btn-primary
                                i.icon-lock.icon-white
                                | Save
                            