script#login(type = "text/ng-template")
    div.container
        div.card
            h4 Please Login To Your Account
            div.row
                form()#login-form.col.s12
                    div.row
                        div.s12.col
                            label Username 
                            input(type="text", ng-model="user.name", id='user-tf').span4.required
                    div.row
                        div.s12.col
                            label Password
                            input(type="password", ng-model="user.password", id='pass-tf').span4.required
                    div.row
                        div.s6.col
                            button(type="submit", ng-click = "login()")#btn-login.btn.btn-primary
                                i.icon-lock.icon-white
                                | Sign in
                        div.s6.col
                            input(type="checkbox", checked='checked', id = "loginCheckbox", ng-model = "user.rememberMe")
                            label(for = "loginCheckbox") | Remember Me
                    hr
                    div.row
                        div.s6.col
                            a(href='/auth/signup').btn.btn-primary#create-account Create An Account
                        div.s6.col
                            //-a().btn.btn-primary#forgot-password Forgot Your Password?
                        
                        

                    