script#signup(type="text/ng-template")    
    div
        form(name = "logInForm", layout = "column", ng-submit = "register()")
            div(layout = "row")
                div(flex)
                    md-input-container(flex).md-block.md-icon-float
                        label() User Name
                        md-icon(md-font-library="material-icons") person
                        input(type = "text", ng-model = "user.name", required)
                div(flex)
                    md-input-container(flex).md-block
                        label() Battle Tag
                        input(ng-model = "user.battleTag", required)
            div(flex)
                md-input-container(flex).md-block                    
                    label() Email
                    md-icon(md-font-library="material-icons") email
                    input(type="email", ng-model="user.email", id='emailInput', required)
            div(flex)
                md-input-container(flex).md-block
                    label() Password
                    md-icon(md-font-library="material-icons") vpn_key
                    input(type="password", ng-model="user.password", id='pwordInput', required)
            div(flex)
                md-input-container(flex).md-block
                    label() Password Validate
                    md-icon(md-font-library="material-icons") vpn_key
                    input(type="password", ng-model="user.password_verify", 
                        id='pwordVerifyInput', name = "pwordVerifyInput", required)
                    div(ng-messages="logInForm.pwordVerifyInput.$error")
                        div(ng-message="required") Passwords must match.                   
                    
            div(flex)
                md-input-container(flex).md-block
                    md-button(type = "submit").md-primary.md-raised
                        | Register
    