.toolbarFixedContentContainer{
    height: 100%;
}

.toolbarFixedPosition{
    position: fixed;
    top:0;
}

.titleOverflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contentAdjust{
    position: relative;
    top: 60px;
    
}

.overflowFix{
    overflow: hidden;
}

.wordWrap{
    word-wrap: break-word;
}