.toolbarFixedContentContainer{
    height: 100%;
}

.toolbarFixedPosition{
    position: fixed;
    top:0;
}

.titleOverflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contentAdjust{
    position: relative;
    top: 60px;
}

.threadReplyPadding{
    padding-bottom: 250px;
}

.threadReplyContainer{
    margin:0;
    max-height:350px;
}

.threadReply{
    
    position: absolute;
    left: 0;
    bottom:0;
    padding:0;
    background:white;
    width: 100%; 
    max-height:250px;
    z-index: 1000;
}

.overflowFix{
    overflow: hidden;
}

.wordWrap{
    word-wrap: break-word;
}