script#threadComments(type="text/ng-template")
    md-content(ng-cloak, layout = "column", aria-label = "threadComments").toolbarFixedContentContainer
        md-toolbar(ng-if="true").toolbarFixedPosition
            div().md-toolbar-tools
                md-button(ng-click = "goBack()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "delete category") keyboard_backspace
                | Threads
                div(flex, hide-gt-xs)
                div(flex, layout, layout-align = "center center", hide-xs).titleOverflow
                    {{ctrl.thread.title}}           
                md-button(ng-click = "openCommentBox()", aria-label = "reply", layout-align = "end center").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "edit category") reply
                    md-tooltip() Reply
                md-button(ng-click = "ctrl.getComments()").md-icon-button
                    md-icon(md-font-library="material-icons", aria-label = "refresh forum") refresh
                    md-tooltip() Refresh Forum data
        md-progress-linear(ng-if = "ctrl.loading", md-mode="indeterminate")
        div().contentAdjust
            md-card
                md-card-header
                    md-card-header-text
                        span().md-subhead
                            | Author: {{ctrl.thread.user}}
                        div(flex, layout, layout-align = "center center")
                            h2()
                                {{ctrl.thread.title}}        
                md-card-content.wordWrap
                    p()
                        display-markdown(markdown = "ctrl.thread.message")
                        
                    md-divider()
                    
                    md-card
                        md-card-content().threadReply 
                            div(flex, layout = "column", ng-if = "replying")
                                div(flex, layout = "row",  layout-align="end center")
                                    md-button(flex, ng-click = "saveComment()").md-raised.md-primary
                                        | Post
                                    md-button(flex, ng-click = "cancelComment()").md-raised.md-primary
                                        | Cancel
                                div(flex)
                                    input-markdown(flex, input = "ctrl.thread.newComment")
                md-card-actions
                    md-button(ng-click = "ctrl.editThread(ctrl.thread)").md-icon-button
                        md-icon(md-font-library="material-icons", aria-label = "edit category") mode_edit
                        md-tooltip() Edit thread
                
            div(layout = "row", layout-align = "space-between center")
                md-input-container().md-block.md-icon-float
                    label() Search
                    md-icon(md-font-library="material-icons") search
                    input(type = "text", ng-model = "ctrl.threadSearch")
                div()
                    | Sort by date
                    md-button(ng-click = "ctrl.orderByDateCreated()").md-icon-button
                        md-icon(md-font-library="material-icons") keyboard_arrow_up
                    md-button(ng-click = "ctrl.orderByDateCreatedReversed()").md-icon-button
                        md-icon(md-font-library="material-icons") keyboard_arrow_down

                    
            md-card(ng-repeat = "comment in ctrl.thread.comments | filter: ctrl.threadSearch | orderBy:ctrl.orderBy").md-whiteframe-10dp
                md-card-content
                
                    div(layout = "column")
                        div(flex).md-list-item-text
                            div(layout-align = "space-between center", layout)
                                h3(flex)
                                    {{comment.user}}
                                div(flex)
                                    {{formatDate(comment.dateCreated)}}
                                
                            md-divider
                                    display-markdown(markdown = "comment.message", ng-if = "!comment.editing")
                                    div(flex, layout = "column", ng-if = "comment.editing")
                                        div(flex, layout = "row",  layout-align="end center")
                                            md-button(flex, ng-click = "saveCommentEdit(comment)").md-raised.md-primary
                                                | Save
                                            md-button(flex, ng-click = "cancelCommentEdit(comment)").md-raised.md-primary
                                                | Cancel
                                        div(flex)
                                            input-markdown(flex, input = "comment.message")
                                            
                        div(flex, layout = "row", layout-align = "end center", ng-show = "user.rank > 2 || user.name == comment.user")
                            md-button(ng-click = "confirmDelete(comment)").md-icon-button
                                md-icon(md-font-library="material-icons", aria-label = "delete comment") delete
                                md-tooltip() Delete Comment
                            md-button(ng-click = "comment.editing = true").md-icon-button
                                md-icon(md-font-library="material-icons", aria-label = "edit comment") mode_edit
                                md-tooltip() Edit Comment
                        
                    
                md-list-item(style = "height = 50px;")


    
                                
                            
                            